<div class="mech-div">
  <div class="container">
    <div class="mech-div__inner">
      <h2 class="mech-div__title title">Выкатная еврокнижка</h2>

      <div class="mech-div__info">
        <div class="mech-div__container swiper">
          <div class="swiper-pagination"></div>
          <div class="mech-div__items swiper-wrapper">
            <div class="mech-div__item swiper-slide">
              <div class="mech-div__img">
                <img src="images/mech-div.png" alt="" />
              </div>
            </div>
            <div class="mech-div__item swiper-slide">
              <div class="mech-div__img">
                <img src="images/mech-div-1.png" alt="" />
              </div>
            </div>
            <div class="mech-div__item swiper-slide">
              <div class="mech-div__img">
                <img src="images/mech-div-2.png" alt="" />
              </div>
            </div>
            <div class="mech-div__item swiper-slide">
              <div class="mech-div__img">
                <img src="images/mech-div-3.png" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="mech-div__content">
          <div class="mech-div__text">
            Полноценное спальное место, легко раскладывать. Сидение выкатывается
            вперед, спинка укладывается на освободившееся место и становится
            частью спального места. Колесики из мягкого и эластичного
            полиуретана диаметром 6 см достаточно долговечны, не царапают пол.
            Легкость раскладывания – требуется незначительное усилие. Не
            оказывает ответного давления на мышцы тела, помогает хорошо
            отдохнуть. Имеет одинаковую мягкость на всей поверхности спального
            места.
          </div>
          <div class="mech-div__grids">
            <div class="mech-div__grid">
              <span>Применение</span>
              <p>Ежедневно</p>
            </div>
            <div class="mech-div__grid">
              <span>Шина механизма, см</span>
              <p>145</p>
            </div>
            <div class="mech-div__grid">
              <span>Жескость матраса</span>
              <p>Мягкий</p>
            </div>
            <div class="mech-div__grid">
              <span>Толщина матраса</span>
              <p>25 см</p>
            </div>
            <div class="mech-div__grid">
              <span>Наполнение</span>
              <p>10 см пенополиуретан "memory foam" (с эффектом памяти) и пенополиуретан мягкий 8 см</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
