<div class="main-stul">
  <div class="container">
    <div class="main-stul__inner">
      <h2 class="main-krov__title title">СТУЛЬЯ</h2>
      <div class="main-krov__text">
        BADesign — стулья, которые держат крепко, но не ограничивают.
      </div>
      <a href="#" class="main-krov__btn btn btn-red">Подробнее</a>

      <div class="main-stul__video">
        <div class="main-brand__play">
          <img src="images/play-vid.svg" alt="" />
        </div>
        <video>
          <source src="images/video.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="main-stul__items">
        <a href="#" class="main-krov__item">
          <div class="main-krov__pic">
            <img src="images/stul-1.png" alt="" />
          </div>
          <div class="main-krov__name">Школьный стул</div>
          <div class="main-krov__price">50 000 р</div>
        </a>
        <a href="#" class="main-krov__item">
          <div class="main-krov__pic">
            <img src="images/stul.png" alt="" />
          </div>
          <div class="main-krov__name">Белый стул</div>
          <div class="main-krov__price">60 000 р</div>
        </a>
      </div>
    </div>
  </div>
</div>
