<div class="detal-gar">
  <div class="container">
    <div class="detal-gar__inner">
      <div class="detal-gar__left">
        <div class="detal-gar__top">
          <span
            >​Дизайнеры оформили спокойный и гармоничный интерьер в винтажной
            стилистике в центре Петербурга. Небольшая, но функциональная
            гостиная, спальня с лаунж-зоной из кресел, кухня и даже баня — в
            доме есть все, чтобы гости чувствовали себя комфортно.
          </span>

          <p>
            ​Дизайнеры оформили спокойный и гармоничный интерьер в винтажной
            стилистике в центре Петербурга. Небольшая, но функциональная
            гостиная, спальня с лаунж-зоной из кресел, кухня и даже баня — в
            доме есть все, чтобы гости чувствовали себя комфортно. <br />
            <br />
            ​Дизайнеры оформили спокойный и гармоничный интерьер в винтажной
            стилистике в центре Петербурга. Небольшая, но функциональная
            гостиная, спальня с лаунж-зоной из кресел, кухня и даже баня — в
            доме есть все, чтобы гости чувствовали себя комфортно. ​Дизайнеры
            оформили спокойный и гармоничный интерьер в винтажной стилистике в
            центре Петербурга. Небольшая, но функциональная гостиная, спальня с
            лаунж-зоной из кресел, кухня и даже баня — в доме есть все, чтобы
            гости чувствовали себя комфортно.
          </p>

          <div class="detal-gar__image">
            <img src="images/gar.png" alt="" />
          </div>
        </div>
      </div>

      <div class="detal-gar__img">
        <img src="images/gar-big.png" alt="" />
      </div>
    </div>
  </div>
</div>
