<div class="hor-block">
  <div class="container">
    <div class="hor-block__inner">
      <h2 class="hor-block__title title">
        С нашими условиями ваш проект непременно станет успешным
      </h2>

      <div class="hor-block__items">
        <div class="hor-block__text">
          Для нас важна любая категория клиентов — и B2B, и B2C. Мы готовы
          обсудить взаимовыгодные условия сотрудничества на оптовые продажи
          и поставки товаров.
        </div>

        <div class="hor-block__imgs">
          <div class="hor-block__img">
            <img src="images/hor-b1.png" alt="">
          </div>
           <div class="hor-block__img">
            <img src="images/hor-b2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
