<div class="brand-us">
  <div class="container">
    <div class="brand-us__inner">
      

      <div class="brand-us__items">
        <div class="brand-us__item">
          <div class="brand-us__text">
            Наш шоурум находится в пределах МКАД, что позволит вам быстро
            доехать до нас и выбрать лучший диван в вашей жизни. Домой вы
            поедете уже с новеньким диваном в обнимку.
          </div>
          <div class="brand-us__grids">
            <div class="brand-us__img">
              <img src="images/usb1.png" alt="" />
            </div>
            <div class="brand-us__img">
              <img src="images/usb2.png" alt="" />
            </div>
          </div>
        </div>

        <div class="brand-us__item">
          <div class="brand-us__image">
            <img src="images/brand-us1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
