.main-col {
  margin-top: 170px;
  margin-bottom: 130px;

  @media only screen and (max-width: 991px) {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  &__inner {
    position: relative;
  }

  &__title {
    margin-bottom: 40px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 20px;
    }
  }

  &__container {
    .swiper-pagination {
      display: none;

      @media only screen and (max-width: 991px) {
        display: flex;
      }
    }
    @media only screen and (max-width: 991px) {
      padding-bottom: 25px;
    }
  }

  &__btns {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    top: 116px;
    gap: 40px;
    z-index: 3;

    @media only screen and (max-width: 991px) {
      display: none;
    }
  }

  &__next {
    transform: rotate(180deg);
    display: flex;
    align-items: center;
  }

  &__prev {
    display: flex;
    align-items: center;
  }

  &__next,
  &__prev {
    cursor: pointer;

    svg {
      path {
        fill: #bc4242;
        transition: 300ms;
      }
    }

    &.swiper-button-disabled {
      pointer-events: none;
      svg {
        path {
          fill: #d6d6d6;
        }
      }
    }

    &:hover {
      svg {
        path {
          fill: #cd7777;
        }
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  &__banner {
    position: relative;
    height: 454px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #fff;
    z-index: 1;
    max-width: 418px;

    @media only screen and (max-width: 991px) {
      padding: 20px;
      left: 0;
      bottom: 0;
    }

    p {
      font-size: 46px;
      font-weight: 900;
      margin-bottom: 10px;
      line-height: 1.2;
    }
  }
}
