<div class="faq-block">
  <div class="container">
    <div class="faq-block__inner">
      <h2 class="faq-block__title title">Особенности ухода за материалами</h2>

      <div class="faq-block__items">
        <div class="faq-block__item">
          <div class="faq-block__head">
            <div class="faq-block__name">01 Велюр и микровелюр</div>

            <div class="faq-block__arrow">
              <svg
                width="10"
                height="6"
                viewBox="0 0 10 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9 1L5 5L1 1"
                  stroke="#333333"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>

          <div class="faq-block__body">
            <div class="faq-block__text">
              Велюр – это мягкий, приятный на ощупь материал, который придает
              мебели уют и элегантность. Однако он требует бережного ухода,
              чтобы сохранить свой внешний вид и долговечность. В этом
              руководстве вы найдете советы по чистке и уходу за диванами,
              креслами и другой мебелью из велюра.
            </div>

            <div class="faq-block__grids">
              <div class="faq-block__grid">
                <div class="faq-block__top">
                  <img src="images/faq-icon.svg" alt="" />
                  Регулярный уход
                </div>
                <div class="faq-block__desc">
                  Чистите мягкой щеткой по направлению ворса <br />
                  <br />
                  Используйте пароочиститель на минимальном режиме (если
                  разрешено производителем)
                </div>
              </div>
              <div class="faq-block__grid">
                <div class="faq-block__top">
                  <img src="images/faq-icon.svg" alt="" />
                  Как удалить пятна
                </div>
                <div class="faq-block__desc">
                  Сухая чистка – ластик или специальная губка для велюра <br />
                  <br />
                  Влажная чистка – минимальное количество воды + мягкое моющее
                  средство
                </div>
              </div>
              <div class="faq-block__grid">
                <div class="faq-block__top">
                  <img src="images/faq-icon.svg" alt="" />
                  Чего избегать
                </div>
                <div class="faq-block__desc">
                  Жесткие щетки, обильное увлажнение, отбеливатели
                </div>
              </div>
            </div>
          </div>


          <div class="faq-block__img">
            <img src="images/faq1.png" alt="">
          </div>
        </div>
         <div class="faq-block__item">
          <div class="faq-block__head">
            <div class="faq-block__name">02 Велюр и микровелюр</div>

            <div class="faq-block__arrow">
              <svg
                width="10"
                height="6"
                viewBox="0 0 10 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9 1L5 5L1 1"
                  stroke="#333333"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>

          <div class="faq-block__body">
            <div class="faq-block__text">
              Велюр – это мягкий, приятный на ощупь материал, который придает
              мебели уют и элегантность. Однако он требует бережного ухода,
              чтобы сохранить свой внешний вид и долговечность. В этом
              руководстве вы найдете советы по чистке и уходу за диванами,
              креслами и другой мебелью из велюра.
            </div>

            <div class="faq-block__grids">
              <div class="faq-block__grid">
                <div class="faq-block__top">
                  <img src="images/faq-icon.svg" alt="" />
                  Регулярный уход
                </div>
                <div class="faq-block__desc">
                  Чистите мягкой щеткой по направлению ворса <br />
                  <br />
                  Используйте пароочиститель на минимальном режиме (если
                  разрешено производителем)
                </div>
              </div>
              <div class="faq-block__grid">
                <div class="faq-block__top">
                  <img src="images/faq-icon.svg" alt="" />
                  Как удалить пятна
                </div>
                <div class="faq-block__desc">
                  Сухая чистка – ластик или специальная губка для велюра <br />
                  <br />
                  Влажная чистка – минимальное количество воды + мягкое моющее
                  средство
                </div>
              </div>
              <div class="faq-block__grid">
                <div class="faq-block__top">
                  <img src="images/faq-icon.svg" alt="" />
                  Чего избегать
                </div>
                <div class="faq-block__desc">
                  Жесткие щетки, обильное увлажнение, отбеливатели
                </div>
              </div>
            </div>
          </div>


          <div class="faq-block__img">
            <img src="images/faq2.png" alt="">
          </div>
        </div>
         <div class="faq-block__item">
          <div class="faq-block__head">
            <div class="faq-block__name">03 Велюр и микровелюр</div>

            <div class="faq-block__arrow">
              <svg
                width="10"
                height="6"
                viewBox="0 0 10 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9 1L5 5L1 1"
                  stroke="#333333"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>

          <div class="faq-block__body">
            <div class="faq-block__text">
              Велюр – это мягкий, приятный на ощупь материал, который придает
              мебели уют и элегантность. Однако он требует бережного ухода,
              чтобы сохранить свой внешний вид и долговечность. В этом
              руководстве вы найдете советы по чистке и уходу за диванами,
              креслами и другой мебелью из велюра.
            </div>

            <div class="faq-block__grids">
              <div class="faq-block__grid">
                <div class="faq-block__top">
                  <img src="images/faq-icon.svg" alt="" />
                  Регулярный уход
                </div>
                <div class="faq-block__desc">
                  Чистите мягкой щеткой по направлению ворса <br />
                  <br />
                  Используйте пароочиститель на минимальном режиме (если
                  разрешено производителем)
                </div>
              </div>
              <div class="faq-block__grid">
                <div class="faq-block__top">
                  <img src="images/faq-icon.svg" alt="" />
                  Как удалить пятна
                </div>
                <div class="faq-block__desc">
                  Сухая чистка – ластик или специальная губка для велюра <br />
                  <br />
                  Влажная чистка – минимальное количество воды + мягкое моющее
                  средство
                </div>
              </div>
              <div class="faq-block__grid">
                <div class="faq-block__top">
                  <img src="images/faq-icon.svg" alt="" />
                  Чего избегать
                </div>
                <div class="faq-block__desc">
                  Жесткие щетки, обильное увлажнение, отбеливатели
                </div>
              </div>
            </div>
          </div>


          <div class="faq-block__img">
            <img src="images/faq3.png" alt="">
          </div>
        </div>
         <div class="faq-block__item">
          <div class="faq-block__head">
            <div class="faq-block__name">04 Велюр и микровелюр</div>

            <div class="faq-block__arrow">
              <svg
                width="10"
                height="6"
                viewBox="0 0 10 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9 1L5 5L1 1"
                  stroke="#333333"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>

          <div class="faq-block__body">
            <div class="faq-block__text">
              Велюр – это мягкий, приятный на ощупь материал, который придает
              мебели уют и элегантность. Однако он требует бережного ухода,
              чтобы сохранить свой внешний вид и долговечность. В этом
              руководстве вы найдете советы по чистке и уходу за диванами,
              креслами и другой мебелью из велюра.
            </div>

            <div class="faq-block__grids">
              <div class="faq-block__grid">
                <div class="faq-block__top">
                  <img src="images/faq-icon.svg" alt="" />
                  Регулярный уход
                </div>
                <div class="faq-block__desc">
                  Чистите мягкой щеткой по направлению ворса <br />
                  <br />
                  Используйте пароочиститель на минимальном режиме (если
                  разрешено производителем)
                </div>
              </div>
              <div class="faq-block__grid">
                <div class="faq-block__top">
                  <img src="images/faq-icon.svg" alt="" />
                  Как удалить пятна
                </div>
                <div class="faq-block__desc">
                  Сухая чистка – ластик или специальная губка для велюра <br />
                  <br />
                  Влажная чистка – минимальное количество воды + мягкое моющее
                  средство
                </div>
              </div>
              <div class="faq-block__grid">
                <div class="faq-block__top">
                  <img src="images/faq-icon.svg" alt="" />
                  Чего избегать
                </div>
                <div class="faq-block__desc">
                  Жесткие щетки, обильное увлажнение, отбеливатели
                </div>
              </div>
            </div>
          </div>


          <div class="faq-block__img">
            <img src="images/faq4.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
