<div class="horeca">
  <div class="container">
    <div class="horeca__inner">
      <div class="horeca__info">
        <div class="horeca__info--top">
          <span>
            Мы принимаем заказы на поставку мебели, света и декора на любые
            объекты
          </span>
          <p>
            Работаем напрямую с фабриками-производителями, благодаря чему можем
            поставить большое количество дизайнерских моделей в разумные сроки
            и по лучшим ценам. Cроки поставки на заказ индивидуальны
            и их необходимо уточнять у менеджеров. Также у нас есть складская
            программа с широким ассортиментом товаров в наличии.
          </p>
        </div>

        <div class="horeca__img">
          <img src="images/horeca.png" alt="" />
        </div>

        <div class="horeca__content">
          <span
            >Зачастую купить большую партию красивых и качественных диванов или
            стульев бывает гораздо сложнее, чем один. Мы умеем прорабатывать
            крупные заказы и даем клиенту полную информацию для принятия
            взвешенного решения.</span
          >
          <p>
            Мы давно успешно сотрудничаем с индустрией гостеприимства HoReCa —
            ресторанами, кафе, барами и гостиницами, и не раз помогали оформлять
            общественные помещения и помещения с высокой проходимостью —
            торговые центры, офисы, шоурумы, отели и апартаменты.
            Наши <a href="#">диваны</a>,<a href="#"> кровати</a>,<a href="#"> кресла</a> и <a href="#">стулья</a> отлично подходят для бизнеса
            и сочетают в себе теплый уютный вид с коммерческим качеством.
          </p>
        </div>
      </div>

      <div class="horeca__images">
        <div class="horeca__images--item">
          <img src="images/hor1.png" alt="" />
        </div>
        <div class="horeca__images--item">
          <img src="images/hor2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
