<div class="main-id">
  <div class="container">
    <div class="main-id__inner">
      <h2 class="main-id__title title">Идеи</h2>

      <div class="main-id__top">
        <div class="main-id__top--item active" data-id-item>Гостиная</div>
        <div class="main-id__top--item" data-id-item>Детская</div>
        <div class="main-id__top--item" data-id-item>Спальня</div>
        <div class="main-id__top--item" data-id-item>Кухня</div>
      </div>

      <div class="main-id__content">
        <div class="main-id__head">
          <a href="#" class="main-id__btn btn btn-white">Смотреть полностью</a>
          <div class="main-id__btns">
            <div class="main-id__prev">
              <svg
                width="73"
                height="42"
                viewBox="0 0 73 42"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M73 0L0 21.1533L73 42V0Z" fill="#D6D6D6" />
              </svg>
            </div>
            <div class="main-id__next">
              <svg
                width="73"
                height="42"
                viewBox="0 0 73 42"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M73 0L0 21.1533L73 42V0Z" fill="#D6D6D6" />
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="main-id__grids">
        <div class="main-id__container swiper" data-swiper-item>
          <div class="swiper-pagination"></div>
          <div class="main-id__items swiper-wrapper">
            <div class="main-id__item swiper-slide">
              <img src="images/id-1.png" alt="" />
            </div>
            <div class="main-id__item swiper-slide">
              <img src="images/id-2.png" alt="" />
            </div>
            <div class="main-id__item swiper-slide">
              <img src="images/id-1.png" alt="" />
            </div>
            <div class="main-id__item swiper-slide">
              <img src="images/id-2.png" alt="" />
            </div>
          </div>
        </div>
        <div class="main-id__container swiper" data-swiper-item>
          <div class="swiper-pagination"></div>
          <div class="main-id__items swiper-wrapper">
            <div class="main-id__item swiper-slide">
              <img src="images/id-2.png" alt="" />
            </div>
            <div class="main-id__item swiper-slide">
              <img src="images/id-2.png" alt="" />
            </div>
            <div class="main-id__item swiper-slide">
              <img src="images/id-1.png" alt="" />
            </div>
            <div class="main-id__item swiper-slide">
              <img src="images/id-2.png" alt="" />
            </div>
          </div>
        </div>
        <div class="main-id__container swiper" data-swiper-item>
          <div class="swiper-pagination"></div>
          <div class="main-id__items swiper-wrapper">
            <div class="main-id__item swiper-slide">
              <img src="images/id-1.png" alt="" />
            </div>
            <div class="main-id__item swiper-slide">
              <img src="images/id-2.png" alt="" />
            </div>
            <div class="main-id__item swiper-slide">
              <img src="images/id-2.png" alt="" />
            </div>
            <div class="main-id__item swiper-slide">
              <img src="images/id-2.png" alt="" />
            </div>
          </div>
        </div>
        <div class="main-id__container swiper" data-swiper-item>
          <div class="swiper-pagination"></div>
          <div class="main-id__items swiper-wrapper">
            <div class="main-id__item swiper-slide">
              <img src="images/id-1.png" alt="" />
            </div>
            <div class="main-id__item swiper-slide">
              <img src="images/id-2.png" alt="" />
            </div>
            <div class="main-id__item swiper-slide">
              <img src="images/id-1.png" alt="" />
            </div>
            <div class="main-id__item swiper-slide">
              <img src="images/id-2.png" alt="" />
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
