<div class="main-krov">
  <div class="container">
    <div class="main-krov__inner">
      <div class="main-krov__content">
        <div class="main-krov__info">
          <h2 class="main-krov__title title">КРОВАТИ</h2>
          <div class="main-krov__text">
            BADesign — кровати, на которых спят только после.
          </div>
          <a href="#" class="main-krov__btn btn btn-red">Подробнее</a>

          <div class="main-krov__video">
            <div class="main-brand__play">
              <img src="images/play-vid.svg" alt="" />
            </div>
            <video>
              <source src="images/video.mp4" type="video/mp4" />
            </video>
          </div>
        </div>

        <div class="main-krov__img">
          <img src="images/main-krov.png" alt="" />
        </div>
      </div>

      <div class="main-krov__items">
        <a href="#" class="main-krov__item">
          <div class="main-krov__pic">
            <img src="images/krov-1.png" alt="" />
          </div>
          <div class="main-krov__name">ДЕРЕВЯННАЯ КРОВАТЬ</div>
          <div class="main-krov__price">100 000 р</div>
        </a>
         <a href="#" class="main-krov__item">
          <div class="main-krov__pic">
            <img src="images/krov-2.png" alt="" />
          </div>
          <div class="main-krov__name">Белая КРОВАТЬ</div>
          <div class="main-krov__price">120 000 р</div>
        </a>
         <a href="#" class="main-krov__item">
          <div class="main-krov__pic">
            <img src="images/krov-3.png" alt="" />
          </div>
          <div class="main-krov__name">Серая КРОВАТЬ</div>
          <div class="main-krov__price">120 000 р</div>
        </a>
      </div>
    </div>
  </div>
</div>
