

<div class="tour-room">
  <div class="container">
    <div class="tour-room__inner">

      <h2 class="tour-room__title title">Тур по шоуруму</h2>

      <div class="tour-room__container swiper">
        <div class="swiper-pagination"></div>
        <div class="tour-room__items swiper-wrapper">

          <div class="tour-room__item swiper-slide">
            <div class="main-adva__video">
              <div class="main-brand__play active">
                <img src="images/play-vid.svg" alt="" />
              </div>
              <video>
                <source src="images/video.mp4" type="video/mp4" />
              </video>
            </div>
          </div>
          <div class="tour-room__item swiper-slide">
            <div class="main-adva__img">
              <img src="images/adva-br-1.png" alt="" />
            </div>
          </div>
           <div class="tour-room__item swiper-slide">
            <div class="main-adva__img">
              <img src="images/adva-br-1.png" alt="" />
            </div>
          </div>
           <div class="tour-room__item swiper-slide">
            <div class="main-adva__img">
              <img src="images/adva-br-1.png" alt="" />
            </div>
          </div>
           <div class="tour-room__item swiper-slide">
            <div class="main-adva__img">
              <img src="images/adva-br-1.png" alt="" />
            </div>
          </div>
           <div class="tour-room__item swiper-slide">
            <div class="main-adva__video">
              <div class="main-brand__play active">
                <img src="images/play-vid.svg" alt="" />
              </div>
              <video>
                <source src="images/video.mp4" type="video/mp4" />
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>