<div class="main-brand">
  <div class="container">
    <div class="main-brand__inner">
      <h2 class="main-brand__title title">О БРЕНДЕ</h2>

      <div class="main-brand__text">
        BADesign— мебель, которая провоцирует на расслабление, на дерзость, на
        удовольствие. Мы работаем с формами, которые хочется трогать, с
        текстурами, которые цепляют и с деталями, которые остаются в памяти. Ещё
        никогда плохой дизайн не был так чертовски хорош! Готов попробовать?
      </div>

      <div class="main-brand__items">
        <div class="main-brand__left">
          <div class="main-brand__img">
            <img src="images/main-brand-img.png" alt="" />
          </div>

          <div class="main-brand__img main-brand__img--small">
            <img src="images/main-brand-img-new.png" alt="" />
          </div>
        </div>
        <div class="main-brand__right">
          <div class="main-brand__video">
            <div class="main-brand__play">
              <img src="images/play-vid.svg" alt="" />
            </div>
            <video>
              <source src="images/video.mp4" type="video/mp4" />
            </video>
          </div>

          <div class="main-brand__info">
            <span
              >Коллекции EASY | SOFT | HARD. Три постоянные коллекции, три
              настроения. Ты выбираешь, какой стиль ближе — мы делаем так, чтобы
              ты чувствовал его каждой клеткой. Какой BADesign тебе нужен: EASY,
              SOFT или HARD?
            </span>
            <a href="#" class="main-brand__btn btn btn-red">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
