<div class="main-brand">
  <div class="container">
    <div class="main-brand__inner">
      <h2 class="main-brand__title title">Подбор мебели с комфортом</h2>

      <div class="main-brand__text main-brand__text--room">
        Менеджеры помогут с выбором модели и ткани, расскажут об особенностях
        производства и сориентируют по условиям доставки в другие регионы.
      </div>

      <div class="main-brand__items">
        <div class="main-brand__left">
          <div class="main-brand__img">
            <img src="images/m1.png" alt="" />
          </div>

          <div class="main-brand__img main-brand__img--small">
            <img src="images/m2.png" alt="" />
          </div>
        </div>
        <div class="main-brand__right main-brand__right--new">
          <img src="images/m3.png" alt="" />

          <div class="main-brand__info main-brand__info--new">
            <span
              >В шоуруме оборудовано удобное пространство, в котором дизайнер
              может обсудить с клиентом проект.
            </span>
            <a href="#" class="main-brand__btn btn btn-red">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
