<div class="main-rev main-rev-card">
  <div class="container">
    <div class="main-rev__inner">
      <div class="main-rev__top">
        <h2 class="main-rev__title ">Использовали следующие модели</h2>

        <div class="main-rev__btns">
          <div class="main-rev__prev">
            <svg
              width="73"
              height="42"
              viewBox="0 0 73 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M73 0L0 21.1533L73 42V0Z" fill="#D6D6D6" />
            </svg>
          </div>
          <div class="main-rev__next">
            <svg
              width="73"
              height="42"
              viewBox="0 0 73 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M73 0L0 21.1533L73 42V0Z" fill="#D6D6D6" />
            </svg>
          </div>
        </div>
      </div>


      <div class="main-rev__container swiper">
        <div class="swiper-pagination"></div>

        <div class="main-rev__items swiper-wrapper">
         <a href="#" class="main-rev__item product-com__item swiper-slide">
            <div class="product-com__img">
              <img src="images/prod-com-1.png" alt="" />
            </div>
            <div class="product-com__name">Авиатор</div>
            <div class="product-com__price">190 000 р</div>
          </a>
           <a href="#" class="main-rev__item product-com__item swiper-slide">
            <div class="product-com__img">
              <img src="images/prod-com-1.png" alt="" />
            </div>
            <div class="product-com__name">Авиатор</div>
            <div class="product-com__price">190 000 р</div>
          </a>
           <a href="#" class="main-rev__item product-com__item swiper-slide">
            <div class="product-com__img">
              <img src="images/prod-com-1.png" alt="" />
            </div>
            <div class="product-com__name">Авиатор</div>
            <div class="product-com__price">190 000 р</div>
          </a>
           <a href="#" class="main-rev__item product-com__item swiper-slide">
            <div class="product-com__img">
              <img src="images/prod-com-1.png" alt="" />
            </div>
            <div class="product-com__name">Авиатор</div>
            <div class="product-com__price">190 000 р</div>
          </a>
           <a href="#" class="main-rev__item product-com__item swiper-slide">
            <div class="product-com__img">
              <img src="images/prod-com-1.png" alt="" />
            </div>
            <div class="product-com__name">Авиатор</div>
            <div class="product-com__price">190 000 р</div>
          </a>
           <a href="#" class="main-rev__item product-com__item swiper-slide">
            <div class="product-com__img">
              <img src="images/prod-com-1.png" alt="" />
            </div>
            <div class="product-com__name">Авиатор</div>
            <div class="product-com__price">190 000 р</div>
          </a>
           <a href="#" class="main-rev__item product-com__item swiper-slide">
            <div class="product-com__img">
              <img src="images/prod-com-1.png" alt="" />
            </div>
            <div class="product-com__name">Авиатор</div>
            <div class="product-com__price">190 000 р</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
