<div class="detal-int">
  <div class="container">
    <div class="detal-int__inner">
      <div class="detal-gar__top">
        <span
          >​Дизайнеры оформили спокойный и гармоничный интерьер в винтажной
          стилистике в центре Петербурга.
        </span>

        <p>
          ​Дизайнеры оформили спокойный и гармоничный интерьер в винтажной
          стилистике в центре Петербурга. Небольшая, но функциональная гостиная,
          спальня с лаунж-зоной из кресел, кухня и даже баня — в доме есть все,
          чтобы гости чувствовали себя комфортно. ​
        </p>
      </div>

      <div class="detal-gar__content">
        <div class="tour-room__container swiper">
          <div class="swiper-pagination"></div>
          <div class="tour-room__items swiper-wrapper">
            <div class="tour-room__item swiper-slide">
              <div class="main-adva__img">
                <img src="images/adva-br-1.png" alt="" />
              </div>
            </div>
            <div class="tour-room__item swiper-slide">
              <div class="main-adva__img">
                <img src="images/adva-br-1.png" alt="" />
              </div>
            </div>
            <div class="tour-room__item swiper-slide">
              <div class="main-adva__img">
                <img src="images/adva-br-1.png" alt="" />
              </div>
            </div>
            <div class="tour-room__item swiper-slide">
              <div class="main-adva__img">
                <img src="images/adva-br-1.png" alt="" />
              </div>
            </div>
            <div class="tour-room__item swiper-slide">
              <div class="main-adva__img">
                <img src="images/adva-br-1.png" alt="" />
              </div>
            </div>
            <div class="tour-room__item swiper-slide">
              <div class="main-adva__img">
                <img src="images/adva-br-1.png" alt="" />
              </div>
            </div>
            <div class="tour-room__item swiper-slide">
              <div class="main-adva__img">
                <img src="images/adva-br-1.png" alt="" />
              </div>
            </div>
            <div class="tour-room__item swiper-slide">
              <div class="main-adva__img">
                <img src="images/adva-br-1.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
