<div class="main-port main-page-port">
  <div class="container">
    <div class="main-port__inner">
     

      <div class="main-tabs">
        <div class="main-tabs__item active" data-port-item>Все проекты</div>
        <div class="main-tabs__item" data-port-item>Диваны</div>
        <div class="main-tabs__item" data-port-item>Кровати</div>
        <div class="main-tabs__item" data-port-item>Кресла</div>
        <div class="main-tabs__item" data-port-item>Стулья</div>
      </div>

      <div class="main-port__content active" data-port-content>
        <div class="main-port__items">
          <a href="#" class="main-port__item">
            <div class="main-port__img">
              <img src="images/p-1.png" alt="" />
            </div>

            <div class="main-des__info">
              <p>Название проекта</p>
              <span>2025</span>
            </div>
          </a>
          <a href="#" class="main-port__item">
            <div class="main-port__img">
              <img src="images/p-2.png" alt="" />
            </div>
            <div class="main-des__info">
              <p>Название проекта</p>
              <span>2025</span>
            </div>
          </a>
          <a href="#" class="main-port__item">
            <div class="main-port__img">
              <img src="images/p-3.png" alt="" />
            </div>
            <div class="main-des__info">
              <p>Название проекта</p>
              <span>2025</span>
            </div>
          </a>
          <a href="#" class="main-port__item">
            <div class="main-port__img">
              <img src="images/p-4.png" alt="" />
            </div>
            <div class="main-des__info">
              <p>Название проекта</p>
              <span>2025</span>
            </div>
          </a>
          <a href="#" class="main-port__item">
            <div class="main-port__img">
              <img src="images/p-5.png" alt="" />
            </div>
            <div class="main-des__info">
              <p>Название проекта</p>
              <span>2025</span>
            </div>
          </a>
          <a href="#" class="main-port__item">
            <div class="main-port__img">
              <img src="images/p-6.png" alt="" />
            </div>
            <div class="main-des__info">
              <p>Название проекта</p>
              <span>2025</span>
            </div>
          </a>
        </div>
        @@include('../../elements/pagination/template.html',{})
      </div>

      <div class="main-port__content" data-port-content>
        <div class="main-port__items">
          <a href="#" class="main-port__item">
            <div class="main-port__img">
              <img src="images/p-1.png" alt="" />
            </div>

            <div class="main-des__info">
              <p>Название проекта</p>
              <span>2025</span>
            </div>
          </a>
          <a href="#" class="main-port__item">
            <div class="main-port__img">
              <img src="images/p-2.png" alt="" />
            </div>
            <div class="main-des__info">
              <p>Название проекта</p>
              <span>2025</span>
            </div>
          </a>
          <a href="#" class="main-port__item">
            <div class="main-port__img">
              <img src="images/p-3.png" alt="" />
            </div>
            <div class="main-des__info">
              <p>Название проекта</p>
              <span>2025</span>
            </div>
          </a>
          <a href="#" class="main-port__item">
            <div class="main-port__img">
              <img src="images/p-4.png" alt="" />
            </div>
            <div class="main-des__info">
              <p>Название проекта</p>
              <span>2025</span>
            </div>
          </a>
          <a href="#" class="main-port__item">
            <div class="main-port__img">
              <img src="images/p-5.png" alt="" />
            </div>
            <div class="main-des__info">
              <p>Название проекта</p>
              <span>2025</span>
            </div>
          </a>
          <a href="#" class="main-port__item">
            <div class="main-port__img">
              <img src="images/p-6.png" alt="" />
            </div>
            <div class="main-des__info">
              <p>Название проекта</p>
              <span>2025</span>
            </div>
          </a>
        </div>
        @@include('../../elements/pagination/template.html',{})
      </div>
    </div>
  </div>
</div>
