<div class="main-port main-des">
  <div class="container">
    <div class="main-port__inner">
      <h2 class="main-port__title title">Проекты с дизайнерами</h2>

      <div class="main-port__items">
        <a href="#" class="main-port__item">
          <div class="main-port__img">
            <img src="images/p-1.png" alt="" />
          </div>

          <div class="main-des__info">
            <p>Таня Веселова</p>
            <span>@veselovadiz</span>
          </div>
        </a>
        <a href="#" class="main-port__item">
          <div class="main-port__img">
            <img src="images/p-2.png" alt="" />
          </div>
          <div class="main-des__info">
            <p>Таня Веселова</p>
            <span>@veselovadiz</span>
          </div>
        </a>
        <a href="#" class="main-port__item">
          <div class="main-port__img">
            <img src="images/p-3.png" alt="" />
          </div>
          <div class="main-des__info">
            <p>Таня Веселова</p>
            <span>@veselovadiz</span>
          </div>
        </a>
        <a href="#" class="main-port__item">
          <div class="main-port__img">
            <img src="images/p-4.png" alt="" />
          </div>
          <div class="main-des__info">
            <p>Таня Веселова</p>
            <span>@veselovadiz</span>
          </div>
        </a>
        <a href="#" class="main-port__item">
          <div class="main-port__img">
            <img src="images/p-5.png" alt="" />
          </div>
          <div class="main-des__info">
            <p>Таня Веселова</p>
            <span>@veselovadiz</span>
          </div>
        </a>
        <a href="#" class="main-port__item">
          <div class="main-port__img">
            <img src="images/p-6.png" alt="" />
          </div>
          <div class="main-des__info">
            <p>Таня Веселова</p>
            <span>@veselovadiz</span>
          </div>
        </a>
      </div>


      <a href="#" class="main-des__more btn btn-white">Загрузить еще</a>
    </div>
  </div>
</div>
