<div class="main-port">
  <div class="container">
    <div class="main-port__inner">
      <h2 class="main-port__title title">Портфолио</h2>
      <a href="#" class="main-id__btn btn btn-white">Смотреть полностью</a>

      <div class="main-port__items">
        <div class="main-port__item">
          <img src="images/p-1.png" alt="" />
        </div>
        <div class="main-port__item">
          <img src="images/p-2.png" alt="" />
        </div>
        <div class="main-port__item">
          <img src="images/p-3.png" alt="" />
        </div>
        <div class="main-port__item">
          <img src="images/p-4.png" alt="" />
        </div>
        <div class="main-port__item">
          <img src="images/p-5.png" alt="" />
        </div>
        <div class="main-port__item">
          <img src="images/p-6.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
