<div class="proz-brand proz-des">
  <div class="container">
    <div class="proz-brand__inner">
      <div class="proz-brand__item">
        <h2 class="proz-brand__title title">
          Почему дизайнеры выбирают BADesign
        </h2>

        
        <div class="proz-brand__grid">
          <span>Персональные скидки для ваших клиентов</span>
          <p>
            от нас, а не из вашего кармана. Мы предоставляем специальную цену
            для клиента по вашей рекомендации. Вы не теряете ни рубля, но
            выглядите, как супергерой с личным доступом к секретной распродаже
          </p>
        </div>
        <div class="proz-brand__grid">
          <span>Бонусная программа для дизайнеров</span>
          <p>
          За каждую покупку — бонус. Прозрачные условия, накопительные плюшки и уважение к вашему труду
          </p>
        </div>
        <div class="proz-brand__grid">
          <span>Возможность создать авторскую коллекцию</span>
          <p>
            Запускаем мебель под вашим именем. Это престиж, признание и новый источник дохода
          </p>
        </div>
       
        <div class="proz-brand__video">
          <img src="images/proz-img.png" alt="">
        </div>
      </div>

      <div class="proz-brand__img">
        <img src="images/proz-brand.png" alt="" />
      </div>
    </div>
  </div>
</div>
