<div class="proz-brand">
  <div class="container">
    <div class="proz-brand__inner">
      <div class="proz-brand__item">
        <h2 class="proz-brand__title title">О нашем производстве</h2>

        <div class="proz-brand__grid">
          <span>Консультация</span>
          <p>Наш менеджер уточняет детали и возможные варианты кастомизации.</p>
        </div>
        <div class="proz-brand__grid">
          <span>Производство</span>
          <p>
            Изготавливаем мебель в соответствии с вашими потребностями и
            хотелками
          </p>
        </div>
        <div class="proz-brand__grid">
          <span>Финальная проверка</span>
          <p>
            Проводим строгий контроль качества изготовленной мебели и кайфуем от
            результата
          </p>
        </div>
        <div class="proz-brand__grid">
          <span>Упаковка и отправка</span>
          <p>
            Заворачиваем все в пленку с пупырками, пенопласт и картонные
            коробки, чтобы в процессе доставки мебель не пострадала
          </p>
        </div>
        <div class="proz-brand__grid">
          <span>Доставка</span>
          <p>Отправляем мебель по вашему адресу и ждем фоточки в интерьере</p>
        </div>

        <div class="proz-brand__video">
          <div class="main-adva__video">
            <div class="main-brand__play active">
              <img src="images/play-vid.svg" alt="" />
            </div>
            <video>
              <source src="images/video.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>

      <div class="proz-brand__img">
        <img src="images/proz-brand.png" alt="">
      </div>
    </div>
  </div>
</div>
