<div class="main-faq">
  <div class="container">
    <div class="main-faq__inner">
      <h2 class="main-faq__title title">ВОПРОСЫ</h2>

      <div class="main-faq__items">
        <div class="main-faq__item">
          <div class="main-faq__head">
            <div class="main-faq__name">Часто задаваемый вопрос.</div>
            <div class="main-faq__arrow">
              <svg
                width="10"
                height="5"
                viewBox="0 0 10 5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 4.5L5 0.5L9 4.5"
                  stroke="#333333"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="main-faq__body">
            <p>Ответ на часто задаваемый вопрос.</p>
          </div>
        </div>
        <div class="main-faq__item">
          <div class="main-faq__head">
            <div class="main-faq__name">Часто задаваемый вопрос.</div>
            <div class="main-faq__arrow">
              <svg
                width="10"
                height="5"
                viewBox="0 0 10 5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 4.5L5 0.5L9 4.5"
                  stroke="#333333"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="main-faq__body">
            <p>Ответ на часто задаваемый вопрос.</p>
          </div>
        </div>
        <div class="main-faq__item">
          <div class="main-faq__head">
            <div class="main-faq__name">Часто задаваемый вопрос.</div>
            <div class="main-faq__arrow">
              <svg
                width="10"
                height="5"
                viewBox="0 0 10 5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 4.5L5 0.5L9 4.5"
                  stroke="#333333"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="main-faq__body">
            <p>Ответ на часто задаваемый вопрос.</p>
          </div>
        </div>
        <div class="main-faq__item">
          <div class="main-faq__head">
            <div class="main-faq__name">Часто задаваемый вопрос.</div>
            <div class="main-faq__arrow">
              <svg
                width="10"
                height="5"
                viewBox="0 0 10 5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 4.5L5 0.5L9 4.5"
                  stroke="#333333"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="main-faq__body">
            <p>Ответ на часто задаваемый вопрос.</p>
          </div>
        </div>
        <div class="main-faq__item">
          <div class="main-faq__head">
            <div class="main-faq__name">Часто задаваемый вопрос.</div>
            <div class="main-faq__arrow">
              <svg
                width="10"
                height="5"
                viewBox="0 0 10 5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 4.5L5 0.5L9 4.5"
                  stroke="#333333"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="main-faq__body">
            <p>Ответ на часто задаваемый вопрос.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
