

<div class="catalog-block">
  <div class="container">
    <div class="catalog-block__inner">

      <div class="catalog-block__items">
        <div class="catalog-block__item">

          <div class="catalog-block__img">
            <img src="images/cat-b-1.png" alt="">
          </div>
          <div class="catalog-block__name">
            КРОВАТИ
          </div>
        </div>
        <div class="catalog-block__item">

          <div class="catalog-block__img">
            <img src="images/cat-b-2.png" alt="">
          </div>
          <div class="catalog-block__name">
            ДИВАНЫ
          </div>
        </div>
        <div class="catalog-block__item">

          <div class="catalog-block__img">
            <img src="images/cat-b-3.png" alt="">
          </div>
          <div class="catalog-block__name">
            КРЕСЛА
          </div>
        </div>
        <div class="catalog-block__item">

          <div class="catalog-block__img">
            <img src="images/cat-b-4.png" alt="">
          </div>
          <div class="catalog-block__name">
            СТУЛЬЯ
          </div>
        </div>
      </div>
    </div>
  </div>
</div>