<div class="feed feed-form">
  <div class="container">
    <div class="feed__inner">
      <div class="feed__info">
        <div class="feed__text">Ты рисуешь мечты — мы даем им форму</div>
        <div class="feed__desc">Отправь нам заявку, и пусть начнется самое интересное</div>

        <form action="#">
          <div class="feed__labels">
             <label class="field">
            <input type="text" placeholder="Имя*" />
          </label>
           <label class="field">
            <input type="text" placeholder="Телефон*" class="mask" />
          </label>
           <label class="field">
            <input type="text" placeholder="E mail*" />
          </label>
             <label class="field">
            <input type="text" placeholder="Город*" />
          </label>
           <label class="field wide">
            <input type="text" placeholder="Немного о себе" />
          </label>
          </div>
          <label class="checkbox">
            <span class="checkbox__inner">
              <input type="checkbox" />
              <span></span>
            </span>
            <span class="checkbox__text">
              Нажимая на кнопку “Стать партнером” я принимаю условия <a href="#">политики конфиденциальности</a>
            </span>
          </label>

          <button
            type="submit"
            class="feed__btn btn btn-white"
            data-fancybox=""
            data-src="#thanks"
          >
            <span>Стать партнером</span>
          </button>
        </form>
      </div>

    </div>
  </div>
</div>
