<div class="main-adva">
  <div class="container">
    <div class="main-adva__inner">
      <h2 class="main-adva__title title">ПРЕИМУЩЕСТВА</h2>

      <div class="main-adva__subt">
        BADesign — это не просто мебель. Это 2500 квадратных метров чистого
        мастерства, где идеи превращаются в вещи, которые захватывают,
        провоцируют и дарят новые ощущения.
      </div>

      <div class="main-adva__text">
        <p>
          Мы знаем, что комфорт — это не только про мягкость. Это про свободу,
          характер, детали, которые цепляют. Именно поэтому за 10 лет мы создали
          более 100 000 изделий, которые стали не просто частью интерьера, а
          частью жизни.
        </p>

        <p>
          Мы делаем всё сами: от первых эскизов до финального прикосновения.
          Контроль на каждом этапе, своя сборка, своя доставка. Никаких
          посредников, никакой потери качества.
        </p>
      </div>

      <div class="main-adva__container swiper">
        <div class="swiper-pagination"></div>
        <div class="main-adva__items swiper-wrapper">
          <div class="main-adva__item swiper-slide">
            <div class="main-adva__img">
              <img src="images/adva-1.png" alt="" />
            </div>
          </div>
          <div class="main-adva__item swiper-slide">
            <div class="main-adva__img">
              <img src="images/adva-2.png" alt="" />
            </div>
          </div>
          <div class="main-adva__item swiper-slide">
            <div class="main-adva__img">
              <img src="images/adva-3.png" alt="" />
            </div>
          </div>
          <div class="main-adva__item swiper-slide">
            <div class="main-adva__video">
              <div class="main-brand__play">
                <img src="images/play-vid.svg" alt="" />
              </div>
              <video>
                <source src="images/video.mp4" type="video/mp4" />
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
