<div class="pr-block">
  <div class="container">
    <div class="pr-block__inner">
      <h2 class="pr-block__title title">Общие правила ухода за мебелью</h2>

      <div class="pr-block__container swiper">
        <div class="swiper-pagination"></div>
        <div class="pr-block__items swiper-wrapper">
          <div class="pr-block__item swiper-slide">
            <div class="pr-block__logo">
              <img src="images/l1.svg" alt="" />
            </div>

            <div class="pr-block__info">
              <p>Регулярная очистка от пыли</p>
              <span
                >используйте мягкие ткани, щетки или пылесос с насадкой для
                мебели</span
              >
            </div>
          </div>
          <div class="pr-block__item swiper-slide">
            <div class="pr-block__logo">
              <img src="images/l2.svg" alt="" />
            </div>

            <div class="pr-block__info">
              <p>Защита от прямых солнечных лучей</p>
              <span
                >ультрафиолет выцветает обивку и деревянные поверхности</span
              >
            </div>
          </div>
          <div class="pr-block__item swiper-slide">
            <div class="pr-block__logo">
              <img src="images/l3.svg" alt="" />
            </div>

            <div class="pr-block__info">
              <p>Избегайте переувлажнения</p>
              <span
                >избыток воды может повредить ткань, дерево и клейкие
                соединения</span
              >
            </div>
          </div>
          <div class="pr-block__item swiper-slide">
            <div class="pr-block__logo">
              <img src="images/l4.svg" alt="" />
            </div>

            <div class="pr-block__info">
              <p>Своевременное удаление пятен</p>
              <span
                >чем быстрее вы обработаете загрязнение, тем проще его
                устранить</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
