<div class="main-proz">
  <div class="container">
    <div class="main-proz__inner">
      <h2 class="main-proz__title title">О ПРОИЗВОДСТВЕ</h2>

      <div class="main-id__top">
        <div class="main-id__top--item active" data-proz-item>Консультация</div>
        <div class="main-id__top--item" data-proz-item>Производство</div>
        <div class="main-id__top--item" data-proz-item>Финальная проверка</div>
        <div class="main-id__top--item" data-proz-item>Упаковка и отправка</div>
        <div class="main-id__top--item" data-proz-item>Доставка</div>
      </div>

      <div class="main-proz__content">
        <div class="main-proz__content--item active" data-proz>
          Наш менеджер уточняет детали и возможные варианты кастомизации.
        </div>
        <div class="main-proz__content--item" data-proz>
          Наш менеджер уточняет детали и возможные варианты кастомизации. 2
        </div>
        <div class="main-proz__content--item" data-proz>
          Наш менеджер уточняет детали и возможные варианты кастомизации. 3
        </div>
        <div class="main-proz__content--item" data-proz>
          Наш менеджер уточняет детали и возможные варианты кастомизации. 4
        </div>
        <div class="main-proz__content--item" data-proz>
          Наш менеджер уточняет детали и возможные варианты кастомизации. 5
        </div>
      </div>

      <div class="main-proz__items">
        <div class="main-proz__video">
          <div class="main-brand__play">
            <img src="images/play-vid.svg" alt="" />
          </div>
          <video>
            <source src="images/video.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="main-proz__img">
          <img src="images/proz-1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
