<div class="show-brand">
  <div class="container">
    <div class="show-brand__inner">
      <div class="show-brand__top">
        <div class="show-brand__bg">
          <img src="images/bg-brand.png" alt="" />
        </div>
      </div>

      <div class="show-brand__items">
        <div class="show-brand__item">
          <div class="show-brand__text">
            BADesign— мебель, которая провоцирует на расслабление, на дерзость,
            на удовольствие. Мы работаем с формами, которые хочется трогать, с
            текстурами, которые цепляют и с деталями, которые остаются в
            памяти. Ещё никогда плохой дизайн не был так чертовски хорош! Готов
            попробовать?
          </div>

          <div class="show-brand__img">
            <img src="images/br1.png" alt="">
          </div>
        </div>
        <div class="show-brand__item">
          <div class="show-brand__img">
            <img src="images/br2.png" alt="">
          </div>
           <div class="show-brand__img row">
            <img src="images/br3.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
