<div class="contacts">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__top">
        <div class="contacts__top--item active" data-contact-item>Офис</div>
        <div class="contacts__top--item" data-contact-item>Производство</div>
        <div class="contacts__top--item" data-contact-item>Шоурум</div>
      </div>

      <div class="contacts__content active" data-contact-content>
        <div class="contacts__info">
          <div class="contacts__items">
            <div class="contacts__item">
              <p>Адрес</p>
              <span
                >100100, Москва, улица Название, дом 23, лит А, 2 этаж, пом
                134</span
              >
            </div>
            <div class="contacts__item">
              <p>Время работы</p>
              <span>Ежедневно с 10 до 19</span>
            </div>
            <div class="contacts__item">
              <p>Телефон</p>
              <a href="tel:8 (800) 000-00-00">8 (800) 000-00-00</a>
            </div>
            <div class="contacts__item">
              <p>E-mail</p>
              <div>
                По общим вопросам:
                <a href="#">info@badesign.ru</a>
              </div>
              <div>
                По вопросам сотрудничества:
                <a href="#">info@badesign.ru</a>
              </div>
            </div>
            <div class="contacts__item">
              <p>Соц сети и мессенджеры</p>
              <ul class="contacts__socials">
                <li>
                  <a href="#">
                    <img src="images/i-1.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="images/i-2.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="images/i-6.svg" alt="" />
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="contacts__container swiper">
            <div class="contacts__grids swiper-wrapper">
              <div class="contacts__grid swiper-slide">
                <img src="images/swiper-contact.png" alt="" />
              </div>
              <div class="contacts__grid swiper-slide">
                <img src="images/swiper-contact.png" alt="" />
              </div>
              <div class="contacts__grid swiper-slide">
                <img src="images/swiper-contact.png" alt="" />
              </div>
              <div class="contacts__grid swiper-slide">
                <img src="images/swiper-contact.png" alt="" />
              </div>
            </div>
            <div class="swiper-pagination"></div>

            <div class="contacts__arrows">
              <div class="contacts__prev">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15.5 5L8.5 12L15.5 19"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="contacts__next">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9 5L16 12L9 19"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="contacts__map">
          <div class="room-con__map">
            <div style="position: relative; overflow: hidden">
              <iframe
                src="https://yandex.ru/map-widget/v1/?ll=38.002536%2C48.306074&z=13"
                width="100%"
                height="513"
                frameborder="1"
                allowfullscreen="true"
                style="position: relative"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts__content " data-contact-content>
        <div class="contacts__info">
          <div class="contacts__items">
            <div class="contacts__item">
              <p>Адрес</p>
              <span
                >100100, Москва, улица Название, дом 23, лит А, 2 этаж, пом
                134</span
              >
            </div>
            <div class="contacts__item">
              <p>Время работы</p>
              <span>Ежедневно с 10 до 19</span>
            </div>
            <div class="contacts__item">
              <p>Телефон</p>
              <a href="tel:8 (800) 000-00-00">8 (800) 000-00-00</a>
            </div>
            <div class="contacts__item">
              <p>E-mail</p>
              <div>
                По общим вопросам:
                <a href="#">info@badesign.ru</a>
              </div>
              <div>
                По вопросам сотрудничества:
                <a href="#">info@badesign.ru</a>
              </div>
            </div>
            <div class="contacts__item">
              <p>Соц сети и мессенджеры</p>
              <ul class="contacts__socials">
                <li>
                  <a href="#">
                    <img src="images/i-1.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="images/i-2.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="images/i-6.svg" alt="" />
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="contacts__container swiper">
            <div class="contacts__grids swiper-wrapper">
              <div class="contacts__grid swiper-slide">
                <img src="images/swiper-contact.png" alt="" />
              </div>
              <div class="contacts__grid swiper-slide">
                <img src="images/swiper-contact.png" alt="" />
              </div>
              <div class="contacts__grid swiper-slide">
                <img src="images/swiper-contact.png" alt="" />
              </div>
              <div class="contacts__grid swiper-slide">
                <img src="images/swiper-contact.png" alt="" />
              </div>
            </div>
            <div class="swiper-pagination"></div>

            <div class="contacts__arrows">
              <div class="contacts__prev">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15.5 5L8.5 12L15.5 19"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="contacts__next">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9 5L16 12L9 19"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="contacts__map">
          <div class="room-con__map">
            <div style="position: relative; overflow: hidden">
              <iframe
                src="https://yandex.ru/map-widget/v1/?ll=38.002536%2C48.306074&z=13"
                width="100%"
                height="513"
                frameborder="1"
                allowfullscreen="true"
                style="position: relative"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts__content " data-contact-content>
        <div class="contacts__info">
          <div class="contacts__items">
            <div class="contacts__item">
              <p>Адрес</p>
              <span
                >100100, Москва, улица Название, дом 23, лит А, 2 этаж, пом
                134</span
              >
            </div>
            <div class="contacts__item">
              <p>Время работы</p>
              <span>Ежедневно с 10 до 19</span>
            </div>
            <div class="contacts__item">
              <p>Телефон</p>
              <a href="tel:8 (800) 000-00-00">8 (800) 000-00-00</a>
            </div>
            <div class="contacts__item">
              <p>E-mail</p>
              <div>
                По общим вопросам:
                <a href="#">info@badesign.ru</a>
              </div>
              <div>
                По вопросам сотрудничества:
                <a href="#">info@badesign.ru</a>
              </div>
            </div>
            <div class="contacts__item">
              <p>Соц сети и мессенджеры</p>
              <ul class="contacts__socials">
                <li>
                  <a href="#">
                    <img src="images/i-1.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="images/i-2.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="images/i-6.svg" alt="" />
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="contacts__container swiper">
            <div class="contacts__grids swiper-wrapper">
              <div class="contacts__grid swiper-slide">
                <img src="images/swiper-contact.png" alt="" />
              </div>
              <div class="contacts__grid swiper-slide">
                <img src="images/swiper-contact.png" alt="" />
              </div>
              <div class="contacts__grid swiper-slide">
                <img src="images/swiper-contact.png" alt="" />
              </div>
              <div class="contacts__grid swiper-slide">
                <img src="images/swiper-contact.png" alt="" />
              </div>
            </div>
            <div class="swiper-pagination"></div>

            <div class="contacts__arrows">
              <div class="contacts__prev">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15.5 5L8.5 12L15.5 19"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="contacts__next">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9 5L16 12L9 19"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="contacts__map">
          <div class="room-con__map">
            <div style="position: relative; overflow: hidden">
              <iframe
                src="https://yandex.ru/map-widget/v1/?ll=38.002536%2C48.306074&z=13"
                width="100%"
                height="513"
                frameborder="1"
                allowfullscreen="true"
                style="position: relative"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
