<div class="adva-brand">
  <div class="container">
    <div class="adva-brand__inner">
      <div class="adva-brand__top">
        <h2 class="adva-brand__title title">ПРЕИМУЩЕСТВА</h2>
        <div class="adva-brand__text">
          BADesign — это не просто мебель. Это 2500 квадратных метров чистого
          мастерства, где идеи превращаются в вещи, которые захватывают,
          провоцируют и дарят новые ощущения.
        </div>

        <div class="adva-brand__desc">
          Мы знаем, что комфорт — это не только про мягкость. Это про свободу,
          характер, детали, которые цепляют. Именно поэтому за 10 лет мы создали
          более 100 000 изделий, которые стали не просто частью интерьера, а
          частью жизни.
          <br />
          <br />Мы делаем всё сами: от первых эскизов до финального
          прикосновения. Контроль на каждом этапе, своя сборка, своя доставка.
          Никаких посредников, никакой потери качества.
        </div>
      </div>

      <div class="adva-brand__container swiper">
        <div class="swiper-pagination"></div>
        <div class="adva-brand__items swiper-wrapper">
          <div class="adva-brand__item swiper-slide">
            <div class="main-adva__img">
              <img src="images/adva-br-1.png" alt="" />
            </div>
          </div>
          <div class="adva-brand__item swiper-slide">
            <div class="main-adva__video">
              <div class="main-brand__play active">
                <img src="images/play-vid.svg" alt="" />
              </div>
              <video>
                <source src="images/video.mp4" type="video/mp4" />
              </video>
            </div>
          </div>
          <div class="adva-brand__item swiper-slide">
            <div class="main-adva__img">
              <img src="images/adva-br-1.png" alt="" />
            </div>
          </div>
          <div class="adva-brand__item swiper-slide">
            <div class="main-adva__video">
              <div class="main-brand__play active">
                <img src="images/play-vid.svg" alt="" />
              </div>
              <video>
                <source src="images/video.mp4" type="video/mp4" />
              </video>
            </div>
          </div>
          <div class="adva-brand__item swiper-slide">
            <div class="main-adva__img">
              <img src="images/adva-br-1.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
