<div class="about-des">
  <div class="container">
    <div class="about-des__inner">
      <h2 class="about-des__title title">с нами круто</h2>

      <div class="about-des__content">
        <div class="about-des__text">
          <span
            >Создаём мебель, которая не просто вписывается в интерьер, а диктует
            его настроение.
          </span>
          <p>
            Минимализм, дерзость, комфорт и точность в каждой детали — мы
            работаем с формой, которая цепляет, и с качеством, которое держит.
            <br />
            <br />
            10+ лет опыта, собственное производство 2500 м², контроль качества
            на каждом этапе, своя логистика, сборка, скорость — и всё это ради
            одной цели: мебель, которую хочется включать в проекты.
          </p>
        </div>

        <div class="about-des__items">
          <div class="about-des__item">
            <span>2500 м2</span>
            <p>Производства</p>
          </div>
          <div class="about-des__item">
            <span>10 лет</span>
            <p>Опыта работы</p>
          </div>
        </div>
      </div>

      <div class="about-des__img">
        <img src="images/about-des.png" alt="" />
      </div>
    </div>
  </div>
</div>
