<div class="blog">
  <div class="container">
    <div class="blog__inner">
      <div class="blog__items">
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
             Выбираем дизайнерский диван: ТОП-10 коллекций
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Какой диван лучше выбрать для ежедневного сна – советы по выбору
              комфортного дивана Какой диван лучше выбрать для ежедневного сна –
              советы по выбору комфортного дивана
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Какой диван лучше выбрать для ежедневного сна – советы по выбору
              комфортного дивана Какой диван лучше выбрать для ежедневного сна –
              советы по выбору комфортного дивана
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Тренды 
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Тренды диванов, на которые стоит обратить внимание в 2025 году
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Тренды диванов, на которые стоит обратить внимание в 2025 году
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Тренды диванов, на которые стоит обратить внимание в 2025 году
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Тренды диванов, на которые стоит обратить внимание в 2025 году
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Тренды диванов, на которые стоит обратить внимание в 2025 году
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Тренды диванов, на которые стоит обратить внимание в 2025 году
            </div>
          </div> </a
        ><a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Тренды диванов, на которые стоит обратить внимание в 2025 году
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Тренды диванов, на которые стоит обратить внимание в 2025 году
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Тренды диванов, на которые стоит обратить внимание в 2025 году
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Тренды диванов, на которые стоит обратить внимание в 2025 году
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Тренды диванов, на которые стоит обратить внимание в 2025 году
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Тренды диванов, на которые стоит обратить внимание в 2025 году
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Тренды диванов, на которые стоит обратить внимание в 2025 году
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Какой диван лучше выбрать для ежедневного сна – советы по выбору
              комфортного дивана Какой диван лучше выбрать для ежедневного сна –
              советы по выбору комфортного дивана
            </div>
          </div>
        </a>
        <a href="#" class="blog__item">
          <div class="blog__img">
            <img src="images/blog1.png" alt="" />
          </div>

          <div class="blog__info">
            <div class="blog__date">29.04.2025</div>
            <div class="blog__name">
              Тренды диванов, на которые стоит обратить внимание в 2025 году
            </div>
          </div>
        </a>
      </div>
      @@include('../../elements/pagination/template.html',{})
    </div>
  </div>
</div>
