

<div class="show-des">
  <div class="container">
    <div class="show-des__inner">

      <div class="show-des__text">
        Ты создаешь пространства? Лепишь настроение? Превращаешь «ой» в «вау»? Тогда нам по пути!  
      </div>

      <div class="show-des__desc">Приглашаем к взаиммовыгодному сотрудничеству дизайнеров, архитекторов и дизайн-студии - всех тех, кто сделал дизайн интерьера своим призванием.</div>



      <div class="show-des__container swiper">
        <div class="swiper-pagination"></div>
        <div class="show-des__items swiper-wrapper">

          <div class="show-des__item swiper-slide">
            <div class="main-adva__img">
              <img src="images/d1.png" alt="">
            </div>
          </div>
          <div class="show-des__item swiper-slide">
            <div class="main-adva__img">
              <img src="images/d1.png" alt="">
            </div>
          </div>
          <div class="show-des__item swiper-slide">
            <div class="main-adva__img">
              <img src="images/d1.png" alt="">
            </div>
          </div>
          <div class="show-des__item swiper-slide">
            <div class="main-adva__img">
              <img src="images/d1.png" alt="">
            </div>

            <div class="show-des__desktop">
              <p>Приглашаем к взаиммовыгодному сотрудничеству дизайнеров, архитекторов и дизайн-студии - всех тех, кто сделал дизайн интерьера своим призванием.</p>
              <a href="#" class="show-des__btn btn btn-red">Стать партнером</a>
            </div>
          </div>
        </div>
      </div>


      <a href="#" class="show-des__btn btn btn-red mobile">Стать партнером</a>
    </div>
  </div>
</div>