<div class="gar-des">
  <div class="container">
    <div class="gar-des__inner">
      <h2 class="gar-des__title title">Наши гарантии</h2>

      <div class="gar-des__aside">
        <div class="gar-des__info">
          <div class="gar-des__text">
            Мы не просто обещаем — мы отвечаем. Каждое изделие проходит контроль
            и проверку на каждом этапе, потому что доверие — это не бонус, а
            основа сотрудничества.
          </div>

          <div class="gar-des__img">
            <img src="images/gar-des.png" alt="" />
          </div>
        </div>

        <div class="gar-des__items">
          <div class="gar-des__item">
            <span>Качество</span>
            <p>
              Контроль на каждом этапе производства. Никаких «и так сойдёт».
            </p>
          </div>
          <div class="gar-des__item">
            <span>Фото- и видеоотчёты</span>
            <p>
              Вы видите, как выглядит изделие до отгрузки. Полная прозрачность —
              без сюрпризов.
            </p>
          </div>
          <div class="gar-des__item">
            <span>Сроки</span>
            <p>
              Изготовление от 5 до 20 дней. Мы реально соблюдаем дедлайны
              проекта.
            </p>
          </div>
          <div class="gar-des__item">
            <span>Сервис</span>
            <p>
              Помогаем в логистике, доставке, сборке и решении организационных
              задач — всё, чтобы вы были спокойны.
            </p>
          </div>
          <div class="gar-des__item gar-des__item--red">
            <span>Гарантия 7 лет</span>
            <p>
              Потому что наша мебель рассчитана не на сезон, а на долгие годы.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
