<div class="product">
  <div class="container">
    <div class="product__inner">
      <div class="product__slider">
        <div class="product__top swiper">
          <div class="swiper-pagination"></div>

          <div class="product__btns">
            <div class="swiper-button__prev">
              <svg
                width="10"
                height="16"
                viewBox="0 0 10 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.5 1L1.5 8L8.5 15"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="swiper-button__next">
              <svg
                width="9"
                height="16"
                viewBox="0 0 9 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 1L8 8L1 15"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="product__top--items swiper-wrapper">
            <div
              class="product__top--item swiper-slide"
              data-fancybox="gallery"
              data-src="images/product-1.png"
            >
              <img src="images/product-1.png" alt="" />
            </div>
            <div
              class="product__top--item swiper-slide"
              data-fancybox="gallery"
              data-src="images/product-1.png"
            >
              <img src="images/product-1.png" alt="" />
            </div>
            <div
              class="product__top--item swiper-slide"
              data-fancybox="gallery"
              data-src="images/product-1.png"
            >
              <img src="images/product-1.png" alt="" />
            </div>
            <div
              class="product__top--item swiper-slide"
              data-fancybox="gallery"
              data-src="images/product-1.png"
            >
              <img src="images/product-1.png" alt="" />
            </div>
            <div
              class="product__top--item swiper-slide"
              data-fancybox="gallery"
              data-src="images/product-1.png"
            >
              <img src="images/product-1.png" alt="" />
            </div>
            <div
              class="product__top--item swiper-slide"
              data-fancybox="gallery"
              data-src="images/product-1.png"
            >
              <img src="images/product-1.png" alt="" />
            </div>
            <div
              class="product__top--item swiper-slide"
              data-fancybox="gallery"
              data-src="images/product-1.png"
            >
              <img src="images/product-1.png" alt="" />
            </div>
          </div>
        </div>
        <div class="product__container swiper">
          <div class="product__container--items swiper-wrapper">
            <div class="product__container--item swiper-slide">
              <img src="images/product-thumb.png" alt="" />
            </div>
            <div class="product__container--item swiper-slide">
              <img src="images/product-thumb.png" alt="" />
            </div>
            <div class="product__container--item swiper-slide">
              <img src="images/product-thumb.png" alt="" />
            </div>
            <div class="product__container--item swiper-slide">
              <img src="images/product-thumb.png" alt="" />
            </div>
            <div class="product__container--item swiper-slide">
              <img src="images/product-thumb.png" alt="" />
            </div>
            <div class="product__container--item swiper-slide">
              <img src="images/product-thumb.png" alt="" />
            </div>
            <div class="product__container--item swiper-slide">
              <img src="images/product-thumb.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="product__info">
        <div class="product__head">
          <div class="product__name">Авиатор</div>

          <div class="product__like">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16 10.9259C13.3333 4.66667 4 5.33333 4 13.3334C4 21.3334 16 28 16 28C16 28 28 21.3334 28 13.3334C28 5.33333 18.6667 4.66667 16 10.9259Z"
                stroke="#333333"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div class="product__art">Арт. BD-8492014784</div>

        <div class="product__text">
          Идеальный диван для какого-нибудь лофта. Упругий и непромокаемый
        </div>

        <div class="product__color" data-otbivka>
          <div class="product__color--top">
            <span> Цвет обивки</span>

            <svg
              width="9"
              height="17"
              viewBox="0 0 9 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 1.5L8 8.5L1 15.5"
                stroke="#333333"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>

          <div class="product__color--body">
            <img src="images/c1.png" alt="" />
            <span>Натуральная кожа, 01</span>
          </div>
        </div>

        <div class="product__gabar">
          <span class="product__label">Габаритная ширина</span>

          <ul class="product__gabar--list">
            <li class="active">190</li>
            <li>202</li>
            <li>212</li>
            <li>220</li>
          </ul>
        </div>

        <div class="product__meh">
          <div class="product__label">Механизм</div>
          <ul class="product__meh--list">
            <li class="active">Без механизма</li>
            <li>Вперед-выкатной</li>
            <li>Шагающая еврокнижка</li>
            <li>Еще один механизм</li>
          </ul>
        </div>

        <div class="product__color">
          <div class="product__color--top" data-opora>
            <span> Цвет опор</span>

            <svg
              width="9"
              height="17"
              viewBox="0 0 9 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 1.5L8 8.5L1 15.5"
                stroke="#333333"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>

          <div class="product__color--body">
            <img src="images/c2.png" alt="" />
            <span>Дуб, 01</span>
          </div>
        </div>
        <div class="product__foot">
          <div class="product__foot--info">
            <div class="product__price">190 000 ₽</div>

            <a href="#" class="product__btn btn btn-red" style="display: none;">Добавить в корзину</a>

            <div class="product__basket--info">
              <div class="basket-popup__counter">
                <div class="basket-popup__counter--minus disabled" >
                  <svg
                    width="16"
                    height="2"
                    viewBox="0 0 16 2"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14.7873 1H1.21094"
                      stroke="#333333"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <input type="text" value="1" />
                <div class="basket-popup__counter--plus">
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14.7874 8H1.21094M7.99918 1.21176V14.7882"
                      stroke="#BC4242"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
              <a href="#" class="product__btn btn btn-red"
                >в корзине</a
              >
            </div>
          </div>

          <div class="product__raz" data-raz>
            <span>Рассрочка на 6, 10 или 12 месяцев</span>
            <svg
              width="9"
              height="16"
              viewBox="0 0 9 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 1L8 8L1 15"
                stroke="#333333"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="product__raz" data-dostavka>
            <span>Информация о доставке</span>
            <svg
              width="9"
              height="16"
              viewBox="0 0 9 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 1L8 8L1 15"
                stroke="#333333"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
