<div class="pay">
  <div class="container">
    <div class="pay__inner">
      <div class="pay__item">
        <h2>Условия доставки</h2>
        <span>
          Простая и быстрая доставка, чтобы Вы наслаждались красивой мебелью и
          не думали о нюансах. Доставка построена по принципу «Все включено» и
          обеспечивает максимальный уровень сервиса и комфорта на всех этапах.
        </span>

        <div class="pay__info">
          <span class="pay__label"> 1. Самовывоз из Шоурума </span>
          <p>
            Забрать из шоурума самовывозом можно негабаритные товары,
            приобретенные из наличия на экспозиции непосредственно в этой
            розничной точке. <br />
            <br />
            Для упаковки сотрудники магазина предложат стрейч-пленку,
            упаковочную бумагу или стандартный брендированный пакет. Также вы
            можете заказать доставку этих товаров на дом в усиленной упаковке.
            <br />
            <br />Если Вы покупаете из наличия в магазине габаритную
            мебель: диван, комод, обеденный стол, кресло, несколько стульев и
            другую крупную мебель, которая требует разборки и упаковки, она
            будет доставлена на дом в согласованный с вами день. Такая мебель
            проходит процедуру дополнительной упаковки, которую не обеспечить на
            экспозиции магазина в часы его работы. Доставка в этом случае
            происходит через склад и оплачивается по стандартному прайсу.
          </p>
        </div>

        <div class="pay__info">
          <span class="pay__label"> 2. Доставка на дом (по Москве и МО) </span>
          <p>
            Сроки доставки: в пределах МКАД от 3 до 5 раб. дней, за пределы
            МКАД от 5 до 10 раб. дней с момента готовности заказа и поступления
            полной оплаты. 
          </p>

          <ol>
            <li>
              <span>Стандартный тариф (3 000 ₽)</span>
              <p>
                Включает в себя любое количество товаров, пронос мебели по
                территории, подъем (ручной до 2-го этажа или на лифте),
                распаковка мебели и вывоз упаковки
              </p>
            </li>
            <li>
              <span>Базовый тариф (1 000 ₽)</span>
              <p>
                Включает в себя любое количество товаров, пронос мебели по
                территории, подъем (ручной до 2-го этажа или на лифте),
                распаковка мебели и вывоз упаковки
              </p>
            </li>
          </ol>
        </div>

        <div class="pay__info">
          <span class="pay__label"> 3. Самовывоз из Шоурума </span>
          <p>
            Наши товары можно заказать в другие города России. Доставка
            происходит различными транспортными компаниями, работающими в Вашем
            регионе. Наши логисты помогут с расчетом стоимости, предложат
            оптимальный вариант и помогут оформить заказ на доставку.
            <br /><br />Подрядчиком по доставке будет непосредственно
            транспортная компания. Отгрузка происходит со склада в Москве.
          </p>
        </div>
      </div>

      <div class="pay__item">
        <h2>Способы оплаты</h2>
        <span>
          Чтобы упростить покупку нашей дизайнерской мебели, мы предлагаем
          наиболее удобный для каждого клиента способ оплаты.
        </span>

        <div class="pay__info">
          <span class="pay__label"> 1. Наличными </span>
          <p>
            1. Наличными Здесь какой-то текст про оплату наличными, типа
            возможно только в шоуруме, выставляем счет, даем чек/квитанцию и тд.
          </p>
        </div>

        <div class="pay__info">
          <span class="pay__label"> 2. Банковской картой </span>

          <p>
            Здесь информация про оплату картой. Типа можете в шоуруме, можете
            как-то еще. <br />
            <br />
            К оплате принимаются карты VISA, MasterCard, Платежная система
            «Мир». Услуга оплаты осуществляется в соответствии с Правилами
            международных платежных систем Visa, MasterCard и Платежная система
            «Мир» 
          </p>

          <div class="pay__banks">
            <div class="pay__bank">
              <img src="images/bank1.png" alt="" />
            </div>
            <div class="pay__bank">
              <img src="images/bank2.png" alt="" />
            </div>
            <div class="pay__bank">
              <img src="images/bank3.png" alt="" />
            </div>
          </div>
        </div>

        <div class="pay__info">
          <span class="pay__label"> 2. В рассрочку </span>
          <p>
            Оформите рассрочку на выгодных условиях. При оформлении заказа,
            выберите способ оплаты «в рассрочку», с нашим сотрудником заполните
            простую форму, дождитесь одобрения от банка, подпишите договор так,
            как вам удобно
          </p>

          <div class="pay__banks">
            <div class="pay__bank">
              <img src="images/bank11.png" alt="" />
            </div>
            <div class="pay__bank">
              <img src="images/bank12.png" alt="" />
            </div>
            <div class="pay__bank">
              <img src="images/bank13.png" alt="" />
            </div>
          </div>


          <div class="pay__more">
            О условиях гарантии, правилах возврата и обмена можете узнать <a href="#">здесь</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
