<div class="contacts-feed">
  <div class="container">
    <div class="contacts-feed__inner">
      <div class="modal__container">
        <div class="modal__wrapper form">
          <div class="modal__title">Остались вопросы? Свяжитесь с нами.</div>

          <div class="modal__text">
            Мы не просто отвечаем, а разбираемся в деталях. Менеджер подскажет,
            как сделать всё идеально, и предложит варианты, которые заходят с
            первого раза.
          </div>

          <form action="#">
            <div class="modal__items">
              <label class="field">
                <input type="text" placeholder="Имя*" />
              </label>
              <label class="field">
                <input type="text" placeholder="Телефон*" class="mask" />
              </label>

              <label class="field">
                <input type="text" placeholder="E mail*" />
              </label>
              <label class="field">
                <input type="text" placeholder="Комментарий" />
              </label>
            </div>
            <label class="checkbox">
              <span class="checkbox__inner">
                <input type="checkbox" />
                <span></span>
              </span>
              <span class="checkbox__text">
                Нажимая на кнопку “Связаться” я принимаю условия
                <a href="#"> политики конфиденциальности</a>
              </span>
            </label>

            <button
              type="submit"
              class="feed__btn btn"
              data-fancybox=""
              data-src="#thanks"
            >
              <span>Связаться</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
