<div class="detal-diz">
  <div class="container">
    <div class="detal-diz__inner">
      <div class="detal-diz__top">
        <div class="detal-diz__title">
          ​Дизайнеры оформили спокойный и гармоничный интерьер в винтажной
          стилистике в центре Петербурга.
        </div>
        <div class="detal-diz__text">
          ​Дизайнеры оформили спокойный и гармоничный интерьер в винтажной
          стилистике в центре Петербурга. Небольшая, но функциональная гостиная,
          спальня с лаунж-зоной из кресел, кухня и даже баня — в доме есть все,
          чтобы гости чувствовали себя комфортно. ​Дизайнеры оформили спокойный
          и гармоничный интерьер в винтажной стилистике в центре Петербурга.
          Небольшая, но функциональная гостиная, спальня с лаунж-зоной из
          кресел, кухня и даже баня — в доме есть все, чтобы гости чувствовали
          себя комфортно.
        </div>
      </div>
      <div class="show-des__items">
        <div class="show-des__item">
          <div class="main-adva__img">
            <img src="images/diz1.png" alt="" />
          </div>
        </div>
        <div class="show-des__item">
          <div class="main-adva__img">
            <img src="images/diz1.png" alt="" />
          </div>
        </div>
        <div class="show-des__item">
          <div class="main-adva__img">
            <img src="images/diz1.png" alt="" />
          </div>
        </div>
        <div class="show-des__item">
          <div class="main-adva__img">
            <img src="images/diz1.png" alt="" />
          </div>

          <div class="show-des__desktop">
            <p>
              Небольшая, но функциональная гостиная, спальня с лаунж-зоной из
              кресел, кухня и даже баня — в доме есть все, чтобы гости
              чувствовали себя комфортно.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
