@use '../../../style/scss/variables.scss' as *;

.product-com {
  margin-top: 130px;
  margin-bottom: 130px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 70px;
    margin-top: 70px;
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 330px;
    margin-top: 40px;
    gap: 5px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      margin-top: 20px;
      grid-gap: 10px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;

    @media only screen and (max-width: 991px) {
      display: flex;
      align-items: flex-start;
      overflow: auto;
      padding-right: 15px;
      margin-right: -15px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__img {
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 991px) {
      height: 164px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item {
    @media only screen and (max-width: 991px) {
      width: 163px;
      flex-shrink: 0;
    }

    &:hover {
      color: $red;


      .product-com__price {
        color: $red;
      }
    }
  }

  &__empty {
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $gray;
    cursor: pointer;

    @media only screen and (max-width: 991px) {
      width: 163px;
      height: 164px;
      flex-shrink: 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__name {
    font-size: 24px;
    text-transform: uppercase;

    margin: 15px 0 10px;

    @media only screen and (max-width: 991px) {
      font-size: 14px;
      margin: 10px 0 5px;
    }
  }

  &__price {
    color: $dgray;
    font-size: 24px;
    transition: 300ms;

    @media only screen and (max-width: 991px) {
      font-size: 14px;
    }
  }

  &__aside {
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid $red;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: 991px) {
      height: 230px;
      padding: 15px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: url('/images/product-com-before.svg');
      width: 530px;
      height: 143px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 22%;

      @media only screen and (max-width: 991px) {
        height: 103px;
        width: 373px;
        background-size: cover;
        bottom: 30%;
      }
    }
  }

  &__btn {
    width: 100%;
    max-width: 100%;
  }

  &__top {
    font-size: 24px;
    font-weight: 600;

    @media only screen and (max-width: 991px) {
      font-size: 18px;
      position: relative;
      z-index: 1;
    }

    p {
      margin-bottom: 15px;

      @media only screen and (max-width: 991px) {
        margin-top: 10px;
      }
    }
  }
}
