<div class="product-com">
  <div class="container">
    <div class="product-com__inner">
      <h2 class="product-rec__title">Собери комплект</h2>

      <div class="product-com__info">
        <div class="product-com__items">
          <a href="#" class="product-com__item">
            <div class="product-com__img">
              <img src="images/prod-com-1.png" alt="" />
            </div>
            <div class="product-com__name">Авиатор</div>
            <div class="product-com__price">190 000 р</div>
          </a>

          <div class="product-com__empty" data-com-item>
            <svg
              width="61"
              height="60"
              viewBox="0 0 61 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect x="29.334" width="2" height="60" fill="#858585" />
              <rect x="0.333984" y="29" width="60" height="2" fill="#858585" />
            </svg>
          </div>
          <div class="product-com__empty" data-com-item>
            <svg
              width="61"
              height="60"
              viewBox="0 0 61 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect x="29.334" width="2" height="60" fill="#858585" />
              <rect x="0.333984" y="29" width="60" height="2" fill="#858585" />
            </svg>
          </div>
        </div>
        <div class="product-com__aside">
          <div class="product-com__top">
            <p>Итоговая цена готового комплекта</p>
            <span>190 000 р</span>
          </div>

          <a href="#" class="product-com__btn btn btn-red disabled"
            >Добавить в корзину</a
          >
        </div>
      </div>
    </div>
  </div>
</div>



