<div class="yh-block">
  <div class="container">
    <div class="yh-block__inner">
      <div class="yh-block__top">
        <span
          >Мебель – важная часть вашего интерьера, и правильный уход поможет
          сохранить ее привлекательный вид и продлить срок службы</span
        >
        <p>
          В этом руководстве вы найдете советы по уходу за разными видами
          мебели: диванами, кроватями, креслами и стульями, а также рекомендации
          для различных материалов (ткань, кожа, дерево, велюр, экокожа).
        </p>
      </div>

      <div class="yh-block__container swiper">
        <div class="swiper-pagination"></div>
        <div class="yh-block__items swiper-wrapper">
          <div class="yh-block__item swiper-slide">
            <img src="images/y1.png" alt="" />
          </div>
          <div class="yh-block__item swiper-slide">
            <img src="images/y1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
