<div class="detal-port">
  <div class="container">
    <div class="detal-port__inner">
      <div class="detal-port__img">
        <img src="images/port-big.png" alt="" />
      </div>

      <div class="detal-port__aside">
        <span>
          ​Дизайнеры оформили спокойный и гармоничный интерьер в винтажной
          стилистике в центре Петербурга. Небольшая, но функциональная гостиная,
          спальня с лаунж-зоной из кресел, кухня и даже баня — в доме есть все,
          чтобы гости чувствовали себя комфортно.
        </span>

        <div class="detal-port__content">
          <div class="detal-port__label">О проекте</div>

          <div class="detal-port__items">
            <div class="detal-port__item">
              <span>Локация</span>
              <p>Санкт-Петербург</p>
            </div>
            <div class="detal-port__item">
              <span>Год реализации</span>
              <p>2025</p>
            </div>
            <div class="detal-port__item">
              <span>Дизайн-студия</span>
              <p>Название студии</p>
            </div>
            <div class="detal-port__item">
              <span>Дизайнер</span>
              <p>Иван Иванов</p>
            </div>
            <div class="detal-port__item">
              <span>Дизайнер</span>
              <p>Иван Иванов</p>
            </div>
            
          </div>
        </div>


      </div>
      <div class="detal-port__info">
        <div class="detal-port__info--item">
          <img src="images/port-det.png" alt="">
        </div>
         <div class="detal-port__info--item">
          <img src="images/port-det-big.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
