<div class="order">
  <div class="container">
    <form action="#">
      <div class="order__inner">
        <div class="order__items">
          <!-- Первый шаг -->

          <div class="order__item">
            <div class="order__top">
              <div class="order__name">Состав заказа</div>
              <div class="order__choose">Изменить</div>
            </div>

            <!-- Dost -->

            <div class="order__body" style="display: none">
              <div class="order-zak">
                <div class="order-zak__items">
                  <div class="order-zak__item">
                    <div class="basket-popup__item">
                      <div class="basket-popup__img">
                        <img src="images/basket-1.png" alt="" />
                      </div>
                      <div class="basket-popup__mobile">
                        <div class="basket-popup__head">
                          <span>Кровать Бежевая</span>
                          <div class="basket-popup__delete">
                            <svg
                              width="12"
                              height="12"
                              viewBox="0 0 12 12"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M11 11L1 1M11 1L1 11"
                                stroke="#858585"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </div>
                        </div>

                        <div class="basket-popup__art">Арт. BD-4939374</div>
                      </div>
                      <div class="basket-popup__info">
                        <div class="basket-popup__head">
                          <span>Кровать Бежевая</span>
                          <div class="basket-popup__delete">
                            <svg
                              width="12"
                              height="12"
                              viewBox="0 0 12 12"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M11 11L1 1M11 1L1 11"
                                stroke="#858585"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </div>
                        </div>

                        <div class="basket-popup__art">Арт. BD-4939374</div>
                        <div class="basket-popup__text">
                          <p>Цвет обивки: Микровелюр Marbel 102</p>
                          <p>Размер спального места: 160х200</p>
                          <p>Механизм: Без механизма</p>
                          <p>Цвет опор: Дуб, 01</p>
                        </div>

                        <div class="basket-popup__form">
                          <div class="basket-popup__counter">
                            <div class="basket-popup__counter--minus">
                              <svg
                                width="16"
                                height="2"
                                viewBox="0 0 16 2"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M14.7873 1H1.21094"
                                  stroke="#333333"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                            <input type="text" value="1" />
                            <div class="basket-popup__counter--plus">
                              <svg
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M14.7874 8H1.21094M7.99918 1.21176V14.7882"
                                  stroke="#BC4242"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                          </div>

                          <div class="basket-popup__sum">110 000 ₽</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="order-zak__item">
                    <div class="basket-popup__item">
                      <div class="basket-popup__img">
                        <img src="images/basket-1.png" alt="" />
                      </div>
                      <div class="basket-popup__info">
                        <div class="basket-popup__head">
                          <span>Кровать Бежевая</span>
                          <div class="basket-popup__delete">
                            <svg
                              width="12"
                              height="12"
                              viewBox="0 0 12 12"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M11 11L1 1M11 1L1 11"
                                stroke="#858585"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </div>
                        </div>

                        <div class="basket-popup__art">Арт. BD-4939374</div>
                        <div class="basket-popup__text">
                          <p>Цвет обивки: Микровелюр Marbel 102</p>
                          <p>Размер спального места: 160х200</p>
                          <p>Механизм: Без механизма</p>
                          <p>Цвет опор: Дуб, 01</p>
                        </div>

                        <div class="basket-popup__form">
                          <div class="basket-popup__counter">
                            <div class="basket-popup__counter--minus">
                              <svg
                                width="16"
                                height="2"
                                viewBox="0 0 16 2"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M14.7873 1H1.21094"
                                  stroke="#333333"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                            <input type="text" value="1" />
                            <div class="basket-popup__counter--plus">
                              <svg
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M14.7874 8H1.21094M7.99918 1.21176V14.7882"
                                  stroke="#BC4242"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                          </div>

                          <div class="basket-popup__sum">110 000 ₽</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="order-zak__item">
                    <div class="order-zak__delete">
                      <div class="order-zak__text">Товар удален</div>
                      <div class="order-zak__info">
                        <a href="#">Восстановить</a>
                        <div class="order-zak__close">
                          <svg
                            width="12"
                            height="11"
                            viewBox="0 0 12 11"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M11 10.5002L1 0.500244M11 0.500244L1 10.5003"
                              stroke="#858585"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <a href="#" class="order-zak__btn btn btn-red">Далее</a>
              </div>
            </div>
          </div>

          <!-- Второй шаг -->

          <div class="order__item">
            <div class="order__top">
              <div class="order__name">Регион доставки</div>
              <div class="order__choose">Изменить</div>
            </div>

            <!-- Dost -->

            <div class="order__body">
              <div class="order__delivery" data-static-order>
                <div class="order__delivery--item">
                  <p>Тип плательщика:</p>
                  <span>Физическое лицо</span>
                </div>
                <div class="order__delivery--item">
                  <p>Местоположение:</p>
                  <span> Москва, Россия</span>
                </div>
              </div>

              <div class="order-delivery" data-choose-order style="display: none;">
                <div class="order-delivery__head">
                  <span> Тип плательщика</span>
                </div>
                <div class="order-delivery__radios">
                  <label class="radio-parent">
                    <span class="radio__inner">
                      <input type="radio" class="radio" name="delivery" />
                      <span></span>
                      <div class="radio__text">Физическое лицо</div>
                    </span>
                  </label>
                  <label class="radio-parent">
                    <span class="radio__inner">
                      <input type="radio" class="radio" name="delivery" />
                      <span></span>
                      <div class="radio__text">Юридическое лицо</div>
                    </span>
                  </label>
                </div>
                <div class="order-delivery__items">
                  <div class="order-delivery__item">
                    <div class="order-delivery__head">
                      <span> Местоположение</span>
                      <p>
                        Пожалуйста, выберите регион. Он нужен для расчета
                        стоимости доставки
                      </p>
                    </div>
                    <div class="order-delivery__label">
                      <label class="field">
                        <input type="text" placeholder="Город, регион*" />
                      </label>
                    </div>
                  </div>
                </div>
                <div class="order-delivery__btns">
                  <a href="#" class="order-delivery__btn btn btn-white"
                    >Назад</a
                  >
                  <a href="#" class="order-delivery__btn btn btn-red">Далее</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Третий шаг -->

          <div class="order__item">
            <div class="order__top">
              <div class="order__name">Доставка</div>
              <div class="order__choose">Изменить</div>
            </div>

            <!-- Dost -->

            <div class="order__body">
              <div class="order__delivery--item" data-static-order>
                <p>Служба доставки:</p>
                <span>СДЭК</span>
              </div>

              <div class="order-dostavka" data-choose-order style="display: none;">
                <div class="order-dostavka__container">
                  <div class="order-dostavka__head">
                    <p>Служба доставки</p>
                    <span>Пожалуйста, выберите службу доставки</span>
                  </div>
                  <div class="order-dostavka__radios">
                    <label class="radio-parent">
                      <span class="radio__inner">
                        <input type="radio" class="radio" name="dostavka" />
                        <span></span>
                        <div class="radio__text">
                          <p>Самовывоз из шоурума</p>
                          <b>Забрать сегодня или завтра</b>
                        </div>
                      </span>
                    </label>
                    <label class="radio-parent">
                      <span class="radio__inner">
                        <input type="radio" class="radio" name="dostavka" />
                        <span></span>
                        <div class="radio__text">
                          <p>Служба доставки СДЭК</p>
                          <b>Доставим за 7 дней</b>
                        </div>
                      </span>
                    </label>
                  </div>
                </div>

                <div class="order-dostavka__btns">
                  <a href="#" class="order-dostavka__btn btn btn-white"
                    >Назад</a
                  >
                  <a href="#" class="order-dostavka__btn btn btn-red">Далее</a>
                </div>
              </div>
            </div>
          </div>

          <!-- четвертый шаг -->

          <div class="order__item">
            <div class="order__top">
              <div class="order__name">Способ оплаты</div>
              <div class="order__choose">Изменить</div>
            </div>

            <div class="order__body">
              <div class="order__delivery--item" data-static-order=""><span>Оплата онлайн</span></div>
              <!-- order-pay -->

              <div class="order-pay" data-choose-order="" style="display: none;">
                <div class="order-pay__container">
                  <div class="order-pay__radios">
                    <label class="radio-parent">
                      <span class="radio__inner">
                        <input type="radio" class="radio" name="oplata" />
                        <span></span>
                        <div class="radio__text">Оплата онлайн</div>
                      </span>
                    </label>
                  </div>
                </div>

                <div class="order-pay__btns">
                  <a href="#" class="order-pay__btn btn btn-white">Назад</a>
                  <a href="#" class="order-pay__btn btn btn-red">Далее</a>
                </div>
              </div>
            </div>
          </div>

          <div class="order__item">
            <div class="order__top">
              <div class="order__name">Покупатель</div>
              <div class="order__choose">Изменить</div>
            </div>

            <div class="order__body" style="display: none;">
              <div class="order-buy" data-choose-order="">
                <div class="order-buy__items">
                  <div class="order-buy__top">
                    <label class="field">
                      <input type="text" placeholder="Имя*" />
                    </label>
                    <label class="field">
                      <input type="text" placeholder="Телефон*" class="mask" />
                    </label>
                  </div>
                  <label class="field">
                    <input type="text" placeholder="E mail*" />
                  </label>
                  <label class="field">
                    <input type="text" placeholder="Адрес*" />
                  </label>
                  <label class="field">
                    <input type="text" placeholder="Комментарий к заказу" />
                  </label>
                </div>
                <a href="#" class="order-buy__btn btn btn-white">Назад</a>
              </div>
            </div>
          </div>
        </div>

        <div class="order-sidebar">
          <div class="order-sidebar__top">
            <div class="order-sidebar__calc">
              <span>Товаров на</span>
              <p>410 000 ₽</p>
            </div>
            <div class="order-sidebar__dost">
              <span>Доставка</span>
              <p>бесплатно</p>
            </div>
          </div>

          <div class="order-sidebar__price">
            <span>Итого</span>
            <p>410 000 ₽</p>
          </div>

          <div class="order-sidebar__ras">
            <label class="checkbox">
              <span class="checkbox__inner">
                <input type="checkbox" />
                <span></span>
              </span>
              <span class="checkbox__text">
                Оформить в <a href="#">рассрочку</a>
              </span>
            </label>
          </div>

          <div class="order-sidebar__foot">
            <button class="order-sidebar__btn btn btn-red">
              Оформить заказ
            </button>

            <label class="checkbox">
              <span class="checkbox__inner">
                <input type="checkbox" />
                <span></span>
              </span>
              <span class="checkbox__text">
                Нажимая на кнопку “Оформить заказ” я принимаю условия
                <a href="#">Публичной оферты</a>
              </span>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
