<div class="adva-des">
  <div class="container">
    <div class="adva-des__inner">
      <h2 class="adva-des__title title">ПРЕИМУЩЕСТВА</h2>

      <div class="adva-des__top">
        <div class="adva-des__text">
          <div class="adva-des__text--item">
            <p>Приоритет в производстве</p>
            <span
              >Ваши заказы идут без очереди — мы знаем, что значит «вчера»</span
            >
          </div>
          <div class="adva-des__text--item">
            <p>Персональный менеджер</p>
            <span
              >Один человек на связи от старта до реализации. Без пересылок и
              потерь информации.</span
            >
          </div>
          <div class="adva-des__text--item">
            <p>Комиссионная программа</p>
            <span
              >Хотите обсудить индивидуальные условия? Мы открыты к
              диалогу.</span
            >
          </div>
        </div>

        <div class="adva-des__desc">
          Ну и конечно же мы предлагаем нашим партнерам индивидуальные цветовые
          решения, кастомизацию изделий под проект и особые условия на объемные
          заказы
        </div>
      </div>


      <div class="adva-des__container swiper">
        <div class="swiper-pagination"></div>
        <div class="adva-des__items swiper-wrapper">
          <div class="adva-des__item swiper-slide">
            <img src="images/des-1.png" alt="">
          </div>
          <div class="adva-des__item swiper-slide">
            <img src="images/des-2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
