.prod-catalog {
  margin-bottom: 30px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__items {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #858585;
    padding: 11px;
    border-right: 0;

    @media only screen and (max-width: 991px) {
      display: none;
      padding: 0;
      gap: 0;
      border: 0;
    }

    cursor: pointer;

    &:last-child {
      border-right: 1px solid #858585;

      @media only screen and (max-width: 991px) {
        border-right: 0;
      }
    }
  }

  &__filter {
    @media only screen and (max-width: 991px) {
      display: flex;

      span {
        display: none;
      }
    }
  }

  &__list {
    position: relative;
    &--dropdown {
      display: none;

      &.active {
        display: block;
        position: absolute;
        background: #fff;
        border: 1px solid #333;
        padding: 10px;
        z-index: 10;
        top: 120%;
        min-width: 190px;
        right: 0;


      }

      span {
        display: block;
        margin-bottom: 5px;
        cursor: pointer;
        transition: 300ms;
        &:hover {
          color: #BC4242;
        }
      }
    }

    &--head {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }
  }
}

.filter {
  position: fixed;
  background: #fff;
  z-index: 1001;
  top: 0;
  right: 0;
  height: 100vh;
  min-height: 100vh;
  max-width: 436px;
  width: 100%;
  padding: 20px;
  display: none;

  @media only screen and (max-width: 991px) {
    max-width: 360px;
    padding: 20px 15px;
    height: fit-content;
  }

  &.active {
    display: block;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    &--name {
      font-weight: 900;
      font-size: 46px;

      @media only screen and (max-width: 991px) {
        font-size: 24px;
      }
    }

    &--close {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 300ms;
  }

  &__items {
    overflow-y: auto;
    margin-bottom: 30px;
    height: calc(100vh - 150px);
    padding-right: 10px;

    &::-webkit-scrollbar {
      background: #d6d6d6;
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #858585;
      width: 6px;
    }
  }

  &__item {
    margin-bottom: 30px;
  }

  &__top {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;

    &.active {
      .filter__arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__body {
    display: none;
    margin-top: 15px;

    &.active {
      display: block;
    }
  }

  &__labels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }

    .checkbox {
      &__text {
        font-weight: 400;
        font-size: 16px;
        color: #333;
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: sticky;
    bottom: 0;
    padding: 20px 0;
    background: #fff;
    z-index: 6;

    .btn {
      width: 100%;
      font-size: 16px;
      text-transform: uppercase;
    }

    .btn-white {
      border: 1px solid #333;

      &:hover {
        border: 1px solid transparent;
      }
    }
  }

  &__range {
    display: flex;
    flex-direction: column;

    &--bottom {
      order: -1;
      display: flex;
      align-items: center;

      p {
        width: 20px;
        flex-shrink: 0;
        position: relative;
        font-size: 0;
        &:before {
          content: '';
          display: block;
          position: absolute;
          height: 1px;
          width: 100%;
          background: #858585;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__price {
    &--low,
    &--high {
      padding: 10px;
      border: 1px solid #858585;
      font-size: 16px;

      width: 100%;
      margin-right: 5px;
    }

    &--high {
      margin-left: 5px;
      margin-right: 0;
    }
  }
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  display: none;
}

.irs--round .irs-handle {
  background: #333 !important;
  border: 2px solid #fff;
  box-shadow: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.irs--round .irs-min,
.irs--round .irs-max {
  display: none;
}

.irs--round .irs-handle:hover {
  background: #333 !important;
}

.irs--round .irs-bar {
  height: 4px;
  top: 32px;
  background: #333;
}
.irs--round .irs-line {
  top: 32px;
}
