<div class="main-krev">
  <div class="container">
    <div class="main-krev__inner">
      <div class="main-krev__content">
        <div class="main-krev__info">
          <h2 class="main-krov__title title">КРесла</h2>
          <div class="main-krov__text">
            BADesign — кресла, в которых хочется не просто сидеть, а терять
            контроль.
          </div>
          <a href="#" class="main-krov__btn btn btn-red">Подробнее</a>

          <div class="main-krev__img">
            <img src="images/krev.png" alt="" />
          </div>
        </div>

        <div class="main-krev__video">
          <div class="main-brand__play">
            <img src="images/play-vid.svg" alt="" />
          </div>
          <video>
            <source src="images/video.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="main-krev__items">
        <a href="#" class="main-krov__item">
          <div class="main-krov__pic">
            <img src="images/krov-3.png" alt="" />
          </div>
          <div class="main-krov__name">Зеленый диван</div>
          <div class="main-krov__price">100 000 р</div>
        </a>
        <a href="#" class="main-krov__item">
          <div class="main-krov__pic">
            <img src="images/krov-1.png" alt="" />
          </div>
          <div class="main-krov__name">Зеленый диван</div>
          <div class="main-krov__price">100 000 р</div>
        </a>
        <a href="#" class="main-krov__item">
          <div class="main-krov__pic">
            <img src="images/krov-2.png" alt="" />
          </div>
          <div class="main-krov__name">Бежевый</div>
          <div class="main-krov__price">120 000 р</div>
        </a>
      </div>
    </div>
  </div>
</div>
