<div class="stat">
  <div class="container">
    <div class="stat__inner">
      <div class="stat__content">
        <div class="stat__item">
          <p class="stat__text">
            Диван – это не просто элемент интерьера, но и важная часть
            комфортной жизни. Если вы ищете диван для ежедневного сна, важно
            учитывать множество факторов: от механизма трансформации до качества
            наполнителя и каркаса. Такой диван должен быть удобным, долговечным
            и подходящим для ваших потребностей. В этой статье мы разберем, как
            выбрать качественный диван для сна, чтобы он стал вашим идеальным
            спальным местом.
          </p>

          <div class="stat__img">
            <img src="images/stat.png" alt="" />
          </div>
        </div>

        <div class="stat__item">
          <div class="stat__info">
            <div>
              <h2>
                Кто будет пользоваться диваном: Влияние потребностей на выбор
                модели
              </h2>
              <p>
                Выбор дивана для сна зависит от того, кто именно будет им
                пользоваться. У каждого человека свои требования к комфорту,
                размеру и функциональности мебели. Рассмотрим основные категории
                пользователей.
              </p>
            </div>

            <div>
              <span>Один взрослый человек</span>
              <p>
                Для одного человека подойдут компактные модели с продольным или
                поперечным механизмом трансформации.
              </p>
              <ul>
                <li>
                  <b>Размер спального места.</b> Минимальная ширина спального
                  места должна составлять 70-90 см.
                </li>
                <li>
                  <b> Наполнитель.</b> Рекомендуется выбирать диваны с плотным
                  наполнителем, таким как латекс или независимый пружинный блок.
                  Они обеспечат комфортный сон и поддержат позвоночник.
                </li>
                <li>
                  <b>Дополнительные опции.</b> Обратите внимание на модели с
                  ящиками для хранения постельного белья – это удобно для
                  небольших помещений.
                </li>
              </ul>
            </div>

            <div>
              <span>Один взрослый человек</span>
              <p>
                Для одного человека подойдут компактные модели с продольным или
                поперечным механизмом трансформации.
              </p>
              <ul>
                <li>
                  <b>Размер спального места.</b> Минимальная ширина спального
                  места должна составлять 70-90 см.
                </li>
                <li>
                  <b> Наполнитель.</b> Рекомендуется выбирать диваны с плотным
                  наполнителем, таким как латекс или независимый пружинный блок.
                  Они обеспечат комфортный сон и поддержат позвоночник.
                </li>
                <li>
                  <b>Дополнительные опции.</b> Обратите внимание на модели с
                  ящиками для хранения постельного белья – это удобно для
                  небольших помещений.
                </li>
              </ul>
            </div>

            <div>
              <span>Один взрослый человек</span>
              <p>
                Для одного человека подойдут компактные модели с продольным или
                поперечным механизмом трансформации.
              </p>
              <ul>
                <li>
                  <b>Размер спального места.</b> Минимальная ширина спального
                  места должна составлять 70-90 см.
                </li>
                <li>
                  <b> Наполнитель.</b> Рекомендуется выбирать диваны с плотным
                  наполнителем, таким как латекс или независимый пружинный блок.
                  Они обеспечат комфортный сон и поддержат позвоночник.
                </li>
                <li>
                  <b>Дополнительные опции.</b> Обратите внимание на модели с
                  ящиками для хранения постельного белья – это удобно для
                  небольших помещений.
                </li>
              </ul>
            </div>
          </div>
          <div class="stat__images">
            <div class="stat__image">
              <img src="images/stat.png" alt="" />
            </div>
            <div class="stat__image">
              <img src="images/stat.png" alt="" />
            </div>
          </div>
        </div>

        <div class="stat__item">
          <div class="stat__info">
            <div>
              <h2>
                Кто будет пользоваться диваном: Влияние потребностей на выбор
                модели
              </h2>
              <p>
                Выбор дивана для сна зависит от того, кто именно будет им
                пользоваться. У каждого человека свои требования к комфорту,
                размеру и функциональности мебели. Рассмотрим основные категории
                пользователей.
              </p>
            </div>
          </div>

          <div class="stat__container swiper">
            <div class="swiper-pagination"></div>
            <div class="stat__grids swiper-wrapper">
              <div class="stat__grid swiper-slide">
                <img src="images/stat.png" alt="" />
              </div>
              <div class="stat__grid swiper-slide">
                <img src="images/stat.png" alt="" />
              </div>
              <div class="stat__grid swiper-slide">
                <img src="images/stat.png" alt="" />
              </div>
            </div>
          </div>

          <div class="stat__info">
            <div>
              <span>Диван в маленькой комнате</span>
              <p>
                В ограниченном пространстве важно выбрать компактный и
                функциональный диван.
              </p>
              <ol>
                <li>
                  <b>Размер спального места.</b> Минимальная ширина спального
                  места должна составлять 70-90 см.
                </li>
                <li>
                  <b>Размер спального места.</b> Минимальная ширина спального
                  места должна составлять 70-90 см.
                </li>
                <li>
                  <b> Наполнитель.</b> Рекомендуется выбирать диваны с плотным
                  наполнителем, таким как латекс или независимый пружинный блок.
                  Они обеспечат комфортный сон и поддержат позвоночник.
                </li>
                <li>
                  <b>Дополнительные опции.</b> Обратите внимание на модели с
                  ящиками для хранения постельного белья – это удобно для
                  небольших помещений.
                </li>
              </ol>
            </div>

            <div>
              <span>Один взрослый человек</span>
              <p>
                Для одного человека подойдут компактные модели с продольным или
                поперечным механизмом трансформации.
              </p>
              <ul>
                <li>
                  <b>Размер спального места.</b> Минимальная ширина спального
                  места должна составлять 70-90 см.
                </li>
                <li>
                  <b> Наполнитель.</b> Рекомендуется выбирать диваны с плотным
                  наполнителем, таким как латекс или независимый пружинный блок.
                  Они обеспечат комфортный сон и поддержат позвоночник.
                </li>
                <li>
                  <b>Дополнительные опции.</b> Обратите внимание на модели с
                  ящиками для хранения постельного белья – это удобно для
                  небольших помещений.
                </li>
              </ul>
            </div>
          </div>
          <br />
          <div class="stat__info">
            <span>Диван в просторной квартире-студии</span>
          </div>

          <div class="stat__img">
            <img src="images/stat.png" alt="" />
          </div>
          <br />

          <div class="stat__info">
            <div>
              <p>
                В ограниченном пространстве важно выбрать компактный и
                функциональный диван.
              </p>
              <ol>
                <li>
                  <b>Размер спального места.</b> Минимальная ширина спального
                  места должна составлять 70-90 см.
                </li>
                <li>
                  <b>Размер спального места.</b> Минимальная ширина спального
                  места должна составлять 70-90 см.
                </li>
                <li>
                  <b> Наполнитель.</b> Рекомендуется выбирать диваны с плотным
                  наполнителем, таким как латекс или независимый пружинный блок.
                  Они обеспечат комфортный сон и поддержат позвоночник.
                </li>
                <li>
                  <b>Дополнительные опции.</b> Обратите внимание на модели с
                  ящиками для хранения постельного белья – это удобно для
                  небольших помещений.
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="stat__item">
          <div class="stat__citata">
            <div class="stat__citata--info">
              <p>
                Что учитывать при выборе механизма раскладывания? Простота
                использования: выберите такой механизм, который будет легким в
                использовании для всех членов семьи. Прочность: убедитесь, что
                механизм имеет хорошую износостойкость, особенно если диван
                будет использоваться ежедневно. Дополнительные функции:
                некоторые механизмы включают в себя дополнительные функции,
                такие как ящики для хранения или встроенные матрасы.
              </p>

              <div class="stat__citata--foot">
                <span>Иван Иванов</span>
                <p>Генеральный директор</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
